.topbar__container {
  padding: 5px 5vw;
  background: #fff;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;

  .details {
    display: flex;
    align-content: center;
    gap: 5px;

    @media (max-width: 576px) {
      display: none;
    }
  }

  .imgContainers {
    flex: 1;
    width: 100%;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    gap: 5px;

    img {
      width: 2vw;
      transition: 0.2s all ease-in-out;
      object-fit: contain;

      &:hover {
        transform: scale(1.3);
      }

      @media (max-width: 576px) {
        width: 20px;
      }
    }
  }
}
