.termsAndConditions__container {
  color: #fff;
  margin: 50px 3vw;
  font-size: 20px;
  max-width: 40vw;
  line-height: 1.5;

  @media (max-width: 992px) {
    max-width: 80vw;
  }

  h3 {
    margin-bottom: 20px;
  }

  p {
    color: #fff9;
  }

  ol {
    margin-left: 20px;

    li {
      margin-bottom: 20px;

      span {
        color: #fff;
      }
    }
  }
}
