.row-radio{
    .custom-label{
        font-size: 20px;
    }
    .custom-radio{
        height: 20px;
        width: 20px;
    }
}
.login-btn{
    background-color: var(--toastify-color-info) !important;
}