// .userProfile {
.profile__tab {
  display: flex;
  flex-direction: column;
  gap: 50px;

  .profile__box {
    display: flex;
    justify-content: space-between;
    // align-items: center;


    @media screen and (max-width: 768px) {
      flex-direction: column;
      margin-top: 1.2em;
      gap: 10px;
    }

    .username {
      display: flex;
      flex-direction: column;
      gap: 5px;

      h3 {
        display: flex;
        gap: 5px;
        font-size: 1.8em;
        span {
          color: #1e8ecb;
        }
      }
      p {
        color: #8c8d8d;
      }
    }

    .profleimage_box {
      display: flex;
      align-items: center;
      gap: 10px;
      p {
        padding: 0.5em;
        &:first-child {
          background: rgba(255, 255, 255, 0.15);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
          border-radius: 5px;
          border: 1px solid rgba(255, 255, 255, 0.18);
        }

        &:not(.date) {
          background-color: #f5f5f54a;
          border-radius: 50%;
        }

        i {
          font-size: 1.2em;
        }
      }

      img {
        height: 50px;
        width: 50px;
        object-fit: cover;
      }
    }
  }
}
.userDetails__container {
  @media screen and (min-width: 769px) {
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 50px;
  }
  .userDetails {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .stats {
      display: flex;
      gap: 20px;

      @media screen and (max-width:768px) {
        flex-direction: column;
      }

      .amounts,
      .active_challenges,
      .total__predictions,
      .pool__pptt,
      .winnings {
        background: rgba(255, 255, 255, 0.15);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        color: #fff;
        padding: 0.5em 0.8em;
        text-align: center;
        line-height: 1.4;
      }

      .amounts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 0.5em 1.5em;
        p {
          display: flex;
          align-items: center;
          font-size: 1.1em;
          font-weight: bold;
          img {
            height: 30px;
            width: 30px;
            object-fit: contain;
          }
        }
      }
      .active_challenges {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5em 1em;
        color: #fff;
        font-size: 1.1em;
        font-weight: bold;
        line-height: 1.4;
      }
      .pool__pptt {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5em 1em;
        color: #fff;
        font-size: 1.1em;
        gap: 5px;
        line-height: 1.4;
        text-align: center;

        p {
          i {
            font-size: 1.4em;
          }
        }
      }
      .total__predictions {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5em 1em;
        color: #fff;
        font-size: 1.1em;
        font-weight: bold;
      }
      .winnings {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
    }
    .statGraph {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .user_stat {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          display: flex;
          align-items: center;
          gap: 5px;
        }

        div {
          display: flex;
          gap: 10px;

          p {
            &:nth-child(1) {
              width: 20px;
              height: 20px;
              background-color: #35a2eb;
            }
            &:nth-child(3) {
              width: 20px;
              height: 20px;
              background-color: #ff6384;
            }
          }
        }
      }
    }
    .transaction__stats {
      display: flex;
      flex-direction: column;
      background-color: rgb(24, 24, 24);
      padding: 0.5em;
      border-radius: 5px;
      box-shadow: 0 1px 20px -5px rgba(145, 146, 163, 0.37);
      
      @media screen and (max-width:425px) {
        display: none;
      }

      
      .transaction__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 0;

        i {
          font-size: 1.2em;
        }
      }
      .titles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr;
        padding: 0.4em;

        p {
          &:nth-child(2) {
            justify-self: center;
          }
          &:nth-child(4) {
            justify-self: center;
          }
          &:nth-child(5) {
            justify-self: center;
          }
          &:last-child {
            justify-self: end;
          }
        }
      }
      .transaction {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr;
        align-items: center;
        padding: 0.4em;

        p {
          align-self: center;
          &:nth-child(2) {
            justify-self: center;
          }
          &:nth-child(4) {
            justify-self: center;
          }
          &:nth-child(5) {
            justify-self: end;
          }
          &:last-child {
            justify-self: end;
            a {
              text-decoration: none;
              color: #fff;
              transition: 0.3s ease;
              &:hover {
                color: rgba(255, 255, 255, 0.688);
                text-decoration: underline;
                text-underline-offset: 3px;
              }
            }
          }
        }

        .win {
          color: green;
        }

        .lose {
          color: rgb(191, 33, 33);
        }
      }
    }
  }
  .notifications__container {
    margin: 1.5em 0 3em;
  }
  .notifications {
    display: flex;
    flex-direction: column;


    .notificationtitle__container {
      display: flex;
      justify-content: space-between;
      padding: 1em 0;

      p {
        i {
          font-size: 1.2em;
        }
      }

      .notification__title {
        display: flex;
        gap: 10px;

        p {
          display: flex;
          align-items: center;
          i {
            font-size: 1.2em;
          }
        }
      }
    }
    .notification__wrapper {
      max-height: 500px;
      overflow-y: scroll;
      .notification {
        display: flex;
        align-items: center;
        padding: 1em 0;
        div {
          display: flex;
          flex-direction: column;
          gap: 5px;
          p {
            &:nth-child(2) {
              color: #d7d9dcc1;
            }
          }
        }

        img {
          width: 60px;
          height: 60px;
          object-fit: cover;
          border-radius: 50%;
        }
        p {
          line-height: 1.4;
        }
      }
    }
  }
  .application {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2em 0 0;
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .application_stat {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .stat_title {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
// }
