.fixtures__container {
  h1 {
    font-size: 3.8em;
    padding: 150px 2vw;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
    color: #fff;

    span{
      font-size: .5em;
      color: rgba(245, 245, 245, 0.667);
      display: block;
    }

    @media (max-width: 576px) {
      font-size: 1.5em;
      padding: 90px 5vw;
    }
  }

  h2 {
    padding: 10px 2vw;
  }

  .fixtureBanner__container{
    position: relative;
    overflow-y: hidden;

    video{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      object-fit: cover;
    }

    h1{
      z-index: 1;
    }
  }

  .MuiBox-root {
    padding: 0 2vw;

    @media (max-width: 576px) {
      padding: 0;
    }

    .fixtureCardItems__container {
      height: 60vh;
      overflow-y: scroll;

      .fixtureCard__container {
        padding: 25px 0;

        @media (max-width: 576px) {
          padding: 15px 5vw;
        }

        span {
          font-weight: 500;
          margin-bottom: 10px;
          font-size: 22px;
          display: flex;
          align-items: center;
          gap: 5px;

          @media (max-width: 576px) {
            margin-bottom: 0;
            font-size: 18px;
          }
        }

        .gameDetails__item {
          font-size: 14px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: #5a5a5a;
          border-bottom: 0.5px solid #9a9a9a;
          padding: 15px 0;
          position: relative;

          .gameDetails__location {
            display: flex;
            align-items: center;
            position: absolute;
            left: 50%;
            top: 50%;
            gap: 5px;
            transform: translate3d(-50%, -50%, 0);

            @media (max-width: 576px) {
              display: none;
            }
          }

          .gameDetails__teamDetails {
            display: flex;
            align-items: center;
            gap: 5px;
            justify-content: left;

            @media (max-width: 576px) {
              gap: 8px;
              text-transform: capitalize;
              flex: 1;
              justify-content: left;
            }

            .teamName {
              font-weight: 500;
              color: #2a2a2a;
              font-size: 17px;
              display: flex;
              align-items: center;
              width: 6.5vw;
              justify-content: center;
              text-align: center;
              flex: 1;

              @media (max-width: 576px) {
                font-size: 14px;
                width: 100%;
              }
            }

            .home__Image,
            .Away__Image {
              width: 35px;
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                width: 100%;
              }
            }

            .gameTime {
              border: 1px solid #9a9a9a;
              padding: 3px;
              font-size: 14px;
              // width: 70px;
              // flex: 1;
              text-align: center;
            }
          }

          .gameDetails__action {
            @media (max-width: 576px) {
              display: none;
            }
            .MuiButton-root {
              text-transform: capitalize;
              padding: 1px 5px;
              color: #000;

              @media (max-width: 576px) {
                padding: 1px 2px;
                min-width: 30px;

                i {
                  font-size: 18px;
                }
              }

              &.quickView {
                border: 1px solid #9a9a9a;
              }
            }
          }
        }
      }
    }
  }

  .quickViewModal__container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: #0009;
    width: 100vw;
    height: 100vh;

    .container {
      position: relative;
      width: 100vw;
      height: 100vh;

      .item {
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        background: #fff;
        padding: 20px 30px;
        border-radius: 16px;

        .closeBtn {
          display: flex;
          align-items: center;
          color: red;
          text-transform: capitalize;
          padding: 0;

          i {
            font-size: 20px;
          }
        }

        .info__container {
          display: flex;
          align-items: center;
          justify-content: space-between;

          span {
            color: #7a7a7a;
          }
        }

        .topBar {
          margin-top: 5px;
          display: flex;
          align-items: center;
          gap: 10px;
          justify-content: center;

          img {
            width: 50px;
            height: 50px;
          }
        }

        .stadiumInformation {
          text-align: center;
          padding: 10px 0 25px 0;
        }
        .actions {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 18px;

          .MuiButton-root {
            background: #000;
            color: #fff;
            text-transform: capitalize;
            gap: 5px;
          }
        }
      }
    }
  }

  .noFixture__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 5vw;
    text-align: center;

    img {
      margin-top: 10px;
      width: 30vw;
      object-fit: contain;

      @media (max-width: 576px) {
        width: 85vw;
      }
    }
  }
}

.skeleton__container {
  display: flex;
  .tabSkeleton {
    display: flex;
    gap: 10px;
  }
}
.featureSkeleton {
  margin-bottom: 3em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #9a9a9a;
  padding: 0.5em;
  overflow: hidden;
  .skeleton {
    display: flex;
    gap: 5px;
  }
  .featuresSkeleton {
    .features__container {
      display: flex;
      justify-content: space-between;
      .features {
        display: flex;
        gap: 5em;
        div {
          display: flex;
          gap: 15px;
        }
      }
      .view {
        display: flex;
        gap: 15px;
      }
    }
  }
}


