.prediction__container .main__container {
  display: flex;
  align-items: flex-start;
}
@media screen and (min-width: 1441px) {
  .prediction__container .main__container {
    overflow-y: hidden;
  }
}
@media (max-width: 576px) {
  .prediction__container .main__container {
    flex-direction: column-reverse;
    overflow: hidden;
  }
}
.prediction__container .main__container .recentPredictions {
  width: 23vw;
}
@media (max-width: 576px) {
  .prediction__container .main__container .recentPredictions {
    width: 90%;
    margin: auto;
  }
}
.prediction__container .main__container .recentPredictions h3 {
  padding: 0.8em 1.5vw;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  color: #fff;
  height: 60px;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(3.7px);
}
.prediction__container .main__container .recentPredictions .prediction__items {
  height: 83vh;
  overflow-y: scroll;
}
@media screen and (max-width: 425px) {
  .prediction__container .main__container .recentPredictions .prediction__items {
    display: none;
  }
}
.prediction__container .main__container .recentPredictions .prediction__items.windowsOS {
  height: 77vh;
}
.prediction__container .main__container .recentPredictions .prediction__items .predictedCard__container {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.0666666667);
  padding: 7px 1.5vw 10px 1.5vw;
  -webkit-animation: ease-in-out;
          animation: ease-in-out;
}
.prediction__container .main__container .recentPredictions .prediction__items .predictedCard__container:hover {
  background: rgba(27, 27, 27, 0.4862745098);
  cursor: pointer;
}
.prediction__container .main__container .recentPredictions .prediction__items .predictedCard__container .info {
  display: flex;
  align-items: center;
  margin-top: 5px;
  justify-content: space-between;
}
.prediction__container .main__container .recentPredictions .prediction__items .predictedCard__container .info p:first-child {
  color: #2ecc71;
}
.prediction__container .main__container .recentPredictions .prediction__items .predictedCard__container .info p:last-child {
  color: rgba(255, 255, 255, 0.5333333333);
  font-size: 14px;
}
.prediction__container .main__container .recentPredictions .prediction__items .predictedCard__container canvas {
  margin-top: 6px;
}
.prediction__container .main__container .recentPredictions .prediction__items .predictedCard__container div {
  width: 100%;
}
.prediction__container .main__container .recentPredictions .prediction__items .predictedCard__container div p {
  font-size: 14px;
  color: #3a3a3a;
  line-height: 1.5;
}
.prediction__container .main__container .recentPredictions .prediction__items .predictedCard__container div .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  gap: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.prediction__container .main__container .recentPredictions .prediction__items .predictedCard__container div .details .custom-chip {
  padding: 0 15px;
}
.prediction__container .main__container .recentPredictions .prediction__items .predictedCard__container div .details p {
  background: #000;
  color: rgba(255, 255, 255, 0.6);
  padding: 1px 15px;
  border-radius: 10px;
  font-size: 12px;
}
.prediction__container .main__container .recentPredictions .prediction__items .predictedCard__container div p {
  color: #fff;
}
.prediction__container .main__container .recentPredictions .prediction__items .predictedCard__container div p a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  background-color: rgba(0, 201, 167, 0.1);
  padding: 0.2em;
  color: #00c9a7;
  border-radius: 2px;
}
.prediction__container .main__container .predictionTable {
  flex: 1;
  border-left: 0.5px solid rgba(255, 255, 255, 0.074);
  border-right: 0.5px solid rgba(255, 255, 255, 0.074);
  overflow-y: hidden;
}
@media screen and (max-width: 425px) {
  .prediction__container .main__container .predictionTable {
    border: none;
    width: 100%;
  }
}
.prediction__container .main__container .predictionTable .predictionTable__topBar {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.0666666667);
  padding: 10px 1vw 10px 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(3.7px);
  height: 60px;
}
@media screen and (max-width: 425px) {
  .prediction__container .main__container .predictionTable .predictionTable__topBar {
    height: auto;
  }
}
@media (max-width: 576px) {
  .prediction__container .main__container .predictionTable .predictionTable__topBar {
    flex-direction: column;
  }
}
.prediction__container .main__container .predictionTable .predictionTable__topBar .predictionTable__competitor {
  display: flex;
  gap: 5px;
  align-items: center;
}
.prediction__container .main__container .predictionTable .predictionTable__topBar .predictionTable__competitor div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  font-size: 18px;
}
@media (max-width: 576px) {
  .prediction__container .main__container .predictionTable .predictionTable__topBar .predictionTable__competitor div {
    font-size: 20px;
  }
}
.prediction__container .main__container .predictionTable .predictionTable__topBar .predictionTable__competitor div img {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
@media (max-width: 576px) {
  .prediction__container .main__container .predictionTable .predictionTable__topBar .predictionTable__competitor div img {
    width: 40px;
    height: 40px;
  }
}
.prediction__container .main__container .predictionTable .predictionTable__topBar .marketInfo {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 14px;
  /* & > div > p:last-child {
    color: #fff;
  } */
}
@media (max-width: 576px) {
  .prediction__container .main__container .predictionTable .predictionTable__topBar .marketInfo div {
    margin-top: 8px;
    display: flex;
    font-size: 12px;
  }
}
.prediction__container .main__container .predictionTable .predictionTable__topBar .marketInfo div p {
  padding: 0.1em 0;
}
.prediction__container .main__container .predictionTable .predictionTable__topBar .marketInfo div p:last-child {
  color: rgba(255, 255, 255, 0.912);
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer {
  flex-direction: column;
  height: 81vh;
  overflow-y: scroll;
  padding-bottom: 20px;
}
@media (max-width: 576px) {
  .prediction__container .main__container .predictionTable .predictionTable__mainContainer {
    height: 75vh;
  }
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .timeOut {
  display: flex;
  gap: 10px;
  margin: 1em auto;
  justify-content: center;
  color: #fff;
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .timeOut .block {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  border: 0.5px solid rgba(168, 168, 168, 0.335);
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .timeOut .block span {
  color: rgba(255, 255, 255, 0.6);
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .fixture_detail {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: #fff;
}
@media screen and (max-width: 425px) {
  .prediction__container .main__container .predictionTable .predictionTable__mainContainer .fixture_detail {
    flex-direction: column;
  }
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .fixture_detail p {
  display: flex;
  gap: 5px;
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .fixture_results {
  display: flex;
  justify-content: center;
  gap: 45px;
  margin: 20px auto;
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .fixture_results .teams_score {
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .fixture_results .teams_score p {
  color: #4e4d4d;
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .graphData {
  margin: 3vh auto;
  padding: 0 2.5vw;
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .eventDetails {
  margin-top: 40px;
  color: #fff;
  padding: 16px 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(3.7px);
}
@media (max-width: 576px) {
  .prediction__container .main__container .predictionTable .predictionTable__mainContainer .eventDetails {
    flex-direction: column;
    gap: 8px;
  }
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .eventDetails p {
  display: flex;
  align-items: center;
  gap: 5px;
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container .MuiTab-root {
  text-transform: capitalize;
}
@media screen and (max-width: 425px) {
  .prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container .MuiBox-root {
    overflow: hidden;
    padding: 0 0 !important;
  }
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-0 .MuiBox-root,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-1 .MuiBox-root,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-2 .MuiBox-root,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-3 .MuiBox-root {
  padding: 5px 20px;
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-0 .MuiBox-root .topBar,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-1 .MuiBox-root .topBar,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-2 .MuiBox-root .topBar,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-3 .MuiBox-root .topBar {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 15px;
  justify-content: space-between;
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-0 .MuiBox-root .topBar div,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-1 .MuiBox-root .topBar div,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-2 .MuiBox-root .topBar div,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-3 .MuiBox-root .topBar div {
  display: flex;
  align-items: center;
  color: #fff;
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-0 .MuiBox-root .topBar .MuiButton-root,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-1 .MuiBox-root .topBar .MuiButton-root,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-2 .MuiBox-root .topBar .MuiButton-root,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-3 .MuiBox-root .topBar .MuiButton-root {
  padding: 0 10px;
  min-width: 0;
  font-weight: 500;
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-0 .MuiBox-root .topBar .MuiButton-root.active,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-1 .MuiBox-root .topBar .MuiButton-root.active,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-2 .MuiBox-root .topBar .MuiButton-root.active,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-3 .MuiBox-root .topBar .MuiButton-root.active {
  color: #3498db;
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-0 .questionaires .prediction_rule,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-1 .questionaires .prediction_rule,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-2 .questionaires .prediction_rule,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-3 .questionaires .prediction_rule {
  margin: 0.3em 0;
  text-align: center;
  padding: 0.5em 0;
  font-style: italic;
  color: #fff;
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-0 .questionaires .questionItem,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-1 .questionaires .questionItem,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-2 .questionaires .questionItem,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-3 .questionaires .questionItem {
  border-top: 0.5px solid rgba(0, 0, 0, 0.0666666667);
  padding: 10px 5px;
  font-size: 15px;
  color: #fff;
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-0 .questionaires .questionItem .top,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-1 .questionaires .questionItem .top,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-2 .questionaires .questionItem .top,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-3 .questionaires .questionItem .top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-0 .questionaires .questionItem .top p:first-child,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-1 .questionaires .questionItem .top p:first-child,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-2 .questionaires .questionItem .top p:first-child,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-3 .questionaires .questionItem .top p:first-child {
  flex: 1;
  font-weight: 500;
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-0 .questionaires .questionItem .top p:last-child,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-1 .questionaires .questionItem .top p:last-child,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-2 .questionaires .questionItem .top p:last-child,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-3 .questionaires .questionItem .top p:last-child {
  color: #2ecc71;
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-0 .questionaires .questionItem .answers,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-1 .questionaires .questionItem .answers,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-2 .questionaires .questionItem .answers,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-3 .questionaires .questionItem .answers {
  display: flex;
  margin-top: 5px;
  align-items: center;
  gap: 15px;
  color: #6a6a6a;
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-0 .questionaires .questionItem .answers .label,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-1 .questionaires .questionItem .answers .label,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-2 .questionaires .questionItem .answers .label,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-3 .questionaires .questionItem .answers .label {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 8px;
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-0 .questionaires .questionItem .answers .label .MuiCheckbox-root,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-1 .questionaires .questionItem .answers .label .MuiCheckbox-root,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-2 .questionaires .questionItem .answers .label .MuiCheckbox-root,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-3 .questionaires .questionItem .answers .label .MuiCheckbox-root {
  padding: 0;
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-0 .predictionAmount,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-1 .predictionAmount,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-2 .predictionAmount,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-3 .predictionAmount {
  border-top: 0.5px solid rgba(0, 0, 0, 0.0666666667);
  align-items: flex-start;
  padding-top: 10px;
  gap: 25px;
  display: flex;
  color: #fff;
}
@media (max-width: 576px) {
  .prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-0 .predictionAmount,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-1 .predictionAmount,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-2 .predictionAmount,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-3 .predictionAmount {
    flex-direction: column;
    gap: 15px;
  }
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-0 .predictionAmount div,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-1 .predictionAmount div,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-2 .predictionAmount div,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-3 .predictionAmount div {
  flex: 1 1 0;
}
@media (max-width: 576px) {
  .prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-0 .predictionAmount div,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-1 .predictionAmount div,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-2 .predictionAmount div,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-3 .predictionAmount div {
    flex: 1;
  }
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-0 .predictionAmount .top,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-1 .predictionAmount .top,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-2 .predictionAmount .top,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-3 .predictionAmount .top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-0 .predictionAmount .top,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-1 .predictionAmount .top,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-2 .predictionAmount .top,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-3 .predictionAmount .top {
    width: 90vw;
  }
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-0 .predictionAmount h4,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-1 .predictionAmount h4,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-2 .predictionAmount h4,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-3 .predictionAmount h4 {
  font-weight: 500;
  font-size: 16px;
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-0 .predictionAmount .MuiSlider-root,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-1 .predictionAmount .MuiSlider-root,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-2 .predictionAmount .MuiSlider-root,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-3 .predictionAmount .MuiSlider-root {
  width: 23vw;
  margin-left: 11px;
}
@media (max-width: 576px) {
  .prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-0 .predictionAmount .MuiSlider-root,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-1 .predictionAmount .MuiSlider-root,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-2 .predictionAmount .MuiSlider-root,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-3 .predictionAmount .MuiSlider-root {
    width: 85vw;
  }
}
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-0 .predictionAmount .MuiButton-root,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-1 .predictionAmount .MuiButton-root,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-2 .predictionAmount .MuiButton-root,
.prediction__container .main__container .predictionTable .predictionTable__mainContainer .predictionTabs__container #simple-tabpanel-3 .predictionAmount .MuiButton-root {
  background: #2ecc71;
  width: 100%;
  margin-top: 10px;
  color: #fff;
}
.prediction__container .main__container .leaderboards {
  width: 20vw;
}
@media (max-width: 576px) {
  .prediction__container .main__container .leaderboards {
    display: none;
  }
}
.prediction__container .main__container .leaderboards .leaderboardsTitle {
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
  color: #fff;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(3.7px);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prediction__container .main__container .leaderboards .leaderboardItemsTitle {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.0666666667);
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  margin: 0 8px;
  color: #fff;
}
.prediction__container .main__container .leaderboards .leaderboardItemsTitle p {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  gap: 2px;
}
.prediction__container .main__container .leaderboards .leaderboardItems {
  font-size: 14px;
  height: 80vh;
  overflow-y: scroll;
  padding-bottom: 10px;
}
.prediction__container .main__container .leaderboards .leaderboardItems.windowsOS {
  height: 77vh;
}
.prediction__container .main__container .leaderboards .leaderboardItems .leaderboardItem__container {
  background: #f1f2f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.0666666667);
}
.prediction__container .main__container .leaderboards .leaderboardItems .leaderboardItem__container:hover {
  background: rgb(251, 251, 251);
  cursor: pointer;
}
.prediction__container .main__container .leaderboards .leaderboardItems .leaderboardItem__container p {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.prediction__container .main__container .leaderboards .leaderboardItems .leaderboardItem__container p img {
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.MuiPaper-root header {
  background-color: #000 !important;
}/*# sourceMappingURL=style.css.map */