.marketplace__container {
  margin: 2em 0;
  overflow: hidden;

  .searchfield {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5em auto 50px auto;

    .search__container {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #bbc4cf;
      border: 1px solid currentColor;
      border-radius: 16px;
      width: 90%;
      margin: 0 auto;

      @media screen and (min-width: 426px) {
        width: 50%;
      }
      @media screen and (min-width: 769px) {
        width: 40%;
      }

      @media screen and (min-width: 1441px) {
        width: 30%;
      }

      .icon {
        padding: 0.5em;
        border-right: 1px solid;
      }

      input[type="input"] {
        font-size: 1.1em;
        padding: 0.7em;
        border: none;
        background-color: transparent;
        border: 1px solid transparent;
        color: #fff9;
        width: 90%;
        &:focus {
          outline: none;
        }
        &::-webkit-search-cancel-button {
          cursor: pointer;
          padding: 0.1em;
        }
      }
    }
  }
}
