.marketplace__container {
  margin-top: 2em;
}
.marketplace__container .searchfield {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5em 0;
}
.marketplace__container .searchfield .search__container {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #bbc4cf;
  border-radius: 5px;
}
.marketplace__container .searchfield .search__container .icon {
  padding: 0.5em;
  color: #bbc4cf;
  border-right: 1px solid;
}
.marketplace__container .searchfield .search__container input {
  font-size: 1.1em;
  padding: 0.7em;
  border: none;
}
.marketplace__container .searchfield .search__container input:focus {
  outline: none;
}
.marketplace__container .searchfield .search__container input:not(:focus):valid ~ label {
  transform: translateY(0px);
}
.marketplace__container .searchfield .search__container input:focus ~ label {
  transform: translateY(-14px);
}
.marketplace__container .searchfield .search__container label {
  transition: 0.3s ease-in-out;
  position: absolute;
  left: 42px;
  color: #bbc4cf;
}
.marketplace__container .marketplace__items {
  display: grid;
  gap: 35px;
}
@media screen and (min-width: 576px) {
  .marketplace__container .marketplace__items {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 90%;
    margin: 0 auto;
  }
}
.marketplace__container .marketplace__items #skeleton__container {
  display: grid;
  gap: 35px;
}
@media screen and (min-width: 576px) {
  .marketplace__container .marketplace__items #skeleton__container {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1025px) {
  .marketplace__container .marketplace__items #skeleton__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1440px) {
  .marketplace__container .marketplace__items #skeleton__container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1700px) {
  .marketplace__container .marketplace__items #skeleton__container {
    grid-template-columns: repeat(5, 1fr);
  }
}
.marketplace__container .marketplace__items #skeleton__container .stack {
  width: 90vw;
}
@media screen and (min-width: 576px) {
  .marketplace__container .marketplace__items #skeleton__container .stack {
    width: 40vw;
  }
}
@media screen and (min-width: 1025px) {
  .marketplace__container .marketplace__items #skeleton__container .stack {
    width: 28vw;
  }
}
@media screen and (min-width: 1440px) {
  .marketplace__container .marketplace__items #skeleton__container .stack {
    width: 20vw;
  }
}
@media screen and (min-width: 1700px) {
  .marketplace__container .marketplace__items #skeleton__container .stack {
    width: 17vw;
  }
}
.marketplace__container .marketplace__items #skeleton__container .stack .inner__skeletons {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .marketplace__container .marketplace__items {
    justify-content: center;
  }
}
.marketplace__container .marketplace__items .marketplaceCard__container {
  text-decoration: none;
  color: #000;
  border-radius: 16px;
  overflow: hidden;
  background: #fff;
  box-shadow: 4px 6px 10px 8px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 4px 6px 10px 8px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 4px 6px 10px 8px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
@media (max-width: 576px) {
  .marketplace__container .marketplace__items .marketplaceCard__container {
    max-width: 85vw;
    min-width: 85vw;
  }
}
.marketplace__container .marketplace__items .marketplaceCard__container:hover {
  transform: scale(1.02);
  box-shadow: 4px 6px 10px 8px rgba(124, 30, 255, 0.09);
  -webkit-box-shadow: 4px 6px 10px 8px rgba(124, 30, 255, 0.09);
  -moz-box-shadow: 4px 6px 10px 8px rgba(124, 30, 255, 0.09);
}
.marketplace__container .marketplace__items .marketplaceCard__container .coverImage {
  height: 130px;
}
.marketplace__container .marketplace__items .marketplaceCard__container .marketplaceDetails h4 {
  font-weight: 500;
  padding: 8px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.0666666667);
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.marketplace__container .marketplace__items .marketplaceCard__container .marketplaceDetails .info {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.marketplace__container .marketplace__items .marketplaceCard__container .marketplaceDetails .info p {
  flex: 1 1 0;
  font-size: 14px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.marketplace__container .marketplace__items .marketplaceCard__container .marketplaceDetails .info p .flex {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  margin-top: 3px;
}/*# sourceMappingURL=style.css.map */