.home__container {
  .home__mainTitle {
    padding: 50px 5vw 40px 5vw;
    color: #fff;
    font-family: "Playfair Display", serif;
    font-size: 45px;

    @media (max-width: 576px) {
      margin-top: 0;
      padding-top: 25px;
    }
  }


  .marquee{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 .2em;

    .marquee-item {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }

  .marquee-container{
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    padding: 15px 0;
    .overlay{
      display: none;
    }
  }
}
