.home__container {
  .home__mainTitle {
    padding: 20px 2vw 20px 2vw;
    color: #fff;
  }
  .marketingBanners__container {
    margin: 20px 0;
    padding-bottom: 50px;
    margin-bottom: 0;

    h1 {
      padding: 0 3vw 15px 3vw;
      text-align: center;
    }

    .marketingBanners__items {
      margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 2vw;
      flex-wrap: wrap;

      @media (max-width: 576px) {
        gap: 20px;
      }

      .marketingBanners__item {
        height: 56vh;
        width: 26vw;
        border: 1px solid;
        border-color: #000;
        padding: 25px;
        transition: 0.3s all ease-in-out;
        -webkit-transition: 0.3s all ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        @media (max-width: 576px) {
          width: 85vw;
        }

        &:hover {
          border-color: #9191ff;
          box-shadow: 4px 6px 10px 8px rgb(0 0 0 / 8%);
          -webkit-box-shadow: 4px 6px 10px 8px rgb(0 0 0 / 8%);
          -moz-box-shadow: 4px 6px 10px 8px rgba(0, 0, 0, 0.08);
          cursor: pointer;
        }

        h2 {
          margin-bottom: 10px;
        }

        &:nth-child(2) {
          margin: 0 40px;
          text-align: center;

          @media (max-width: 576px) {
            margin: 0;
            text-align: left;
          }
        }

        &:nth-child(3) {
          text-align: right;

          @media (max-width: 576px) {
            text-align: left;
          }
        }

        img {
          width: 100%;
          object-fit: contain;
          min-height: 225px;
        }

        p {
          line-height: 1.5;
        }
      }
    }
  }

  .marketplace__items {
    padding: 0 2vw;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 35px;
    flex-direction: row;
    padding-bottom: 40px;

    .skeleton__container {
      display: flex;
      justify-content: center;
      gap: 15px;
      flex-wrap: wrap;

      @media screen and (min-width: 576px) {
        justify-content: space-evenly;
      }

      @media screen and (min-width: 1024px) {
        justify-content: space-between;
      }
    }

    @media (max-width: 576px) {
      justify-content: center;
    }

    .marketplaceCard__container {
      flex: 1 1 0;
      text-decoration: none;
      max-width: 18vw;
      min-width: 17vw;
      color: #fff;
      border-radius: 16px;
      overflow: hidden;
      border: .5px solid rgba(65, 65, 65, 0.439);
      box-shadow: 4px 6px 10px 8px rgba(0, 0, 0, 0.08);
      -webkit-box-shadow: 4px 6px 10px 8px rgba(0, 0, 0, 0.08);
      -moz-box-shadow: 4px 6px 10px 8px rgba(0, 0, 0, 0.08);
      cursor: pointer;
      transition: 0.3s all ease-in-out;

      @media (max-width: 576px) {
        max-width: 85vw;
        min-width: 85vw;
      }

      &:hover {
        transform: scale(1.02);
        box-shadow: 4px 6px 10px 8px rgba(124, 30, 255, 0.09);
        -webkit-box-shadow: 4px 6px 10px 8px rgba(124, 30, 255, 0.09);
        -moz-box-shadow: 4px 6px 10px 8px rgba(124, 30, 255, 0.09);
      }

      .coverImage {
        height: 130px;
      }

      .marketplaceDetails {
        h4 {
          font-weight: 500;
          padding: 8px;
          border-bottom: 0.5px solid #0001;
          margin-bottom: 3px;
          display: flex;
          align-items: center;
          gap: 5px;
        }

        .info {
          display: flex;
          align-items: center;
          padding-bottom: 10px;

          p {
            flex: 1 1 0;
            font-size: 14px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .flex {
              display: flex;
              align-items: center;
              gap: 5px;
              font-size: 13px;
              margin-top: 3px;
            }
          }
        }
      }
    }
  }
  .footer__container {
    background: #000;
    color: #fff;
    .footer {
      width: 80%;
      margin: auto;
      padding: 3vh 0;

      @media screen and (min-width: 769px) {
        display: flex;
        justify-content: space-between;
      }
      .playpoint {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 2vh;

        p {
          color: rgba(255, 255, 255, 0.797);
        }
        .intro {
          display: flex;
          align-items: center;
          gap: 15px;

          img {
            height: 50px;
            width: 50px;
          }
        }
      }
      .links__container {
        display: flex;
        margin: 1em 0;
        @media screen and (min-width: 769px) {
          flex: 1;
          justify-content: center;
        }
        .links {
          display: flex;
          flex-direction: column;
          gap: 20px;
          a {
            color: rgba(254, 254, 254, 0.7);
            transition: 0.2s all ease-in-out;
            &:hover {
              color: #fff;
            }
          }
        }
        a {
          text-decoration: none;
          color: #fff;
          display: flex;
        }
      }
      .social {
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex: 1;
        .text {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .subscribe {
            display: flex;
            gap: 10px;

            button {
              padding: 0 0.5em;
              /* text-transform: uppercase; */
              font-size: 1rem;
              cursor: pointer;
              color: rgb(41, 41, 41);
              border-radius: 3px;
              width: fit-content;
              border: 1px solid #0debc679;
              background: linear-gradient(rgb(0, 0, 0), rgba(60, 59, 59, 0.35));
              color: #fff;
              transition: 0.4s ease;

              &:hover {
                background-color: #0debc6;
              }

              &:active {
                transform: scale(0.98);
              }
            }
          }

          p {
            color: rgba(255, 255, 255, 0.797);
            line-height: 1.5;
          }
        }
        @media screen and (min-width: 769px) {
          margin-top: 1em;
        }

        .icons {
          font-size: 2rem;
          display: flex;
          gap: 1vw;
          a {
            cursor: pointer;
            text-decoration: none;
            color: white;
            transition: 0.4s ease;
            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }
    }
    .copyright {
      width: 80%;
      margin: 0 auto;
      padding: 1em 0;
      padding-bottom: 3em;
      display: flex;
      color: rgba(255, 255, 255, 0.797);
      justify-content: space-between;
      border-top: 1px solid rgba(126, 126, 126, 0.692);

      @media screen and (max-width: 425px) {
        flex-direction: column;
      }

      div {
        display: flex;
        gap: 15px;
        @media screen and (max-width: 425px) {
          flex-direction: column;
        }
        padding-bottom: 0.5em;

        p {
          &:nth-child(2),
          &:nth-child(3) {
            cursor: pointer;
          }
        }
      }

      p {
        display: flex;
        align-items: center;
        font-size: 1.012rem;

        i {
          padding: 0 0.3em;
        }
      }
    }
  }
}
