.home__container .home__mainTitle {
  padding: 20px 2vw 20px 2vw;
}
.home__container .marketingBanners__container {
  margin: 20px 0;
  padding-bottom: 50px;
  margin-bottom: 0;
}
.home__container .marketingBanners__container h1 {
  padding: 0 3vw 15px 3vw;
  text-align: center;
}
.home__container .marketingBanners__container .marketingBanners__items {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2vw;
  flex-wrap: wrap;
}
@media (max-width: 576px) {
  .home__container .marketingBanners__container .marketingBanners__items {
    gap: 20px;
  }
}
.home__container .marketingBanners__container .marketingBanners__items .marketingBanners__item {
  height: 56vh;
  width: 26vw;
  border: 1px solid;
  border-color: #000;
  padding: 25px;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 576px) {
  .home__container .marketingBanners__container .marketingBanners__items .marketingBanners__item {
    width: 85vw;
  }
}
.home__container .marketingBanners__container .marketingBanners__items .marketingBanners__item:hover {
  border-color: #9191ff;
  box-shadow: 4px 6px 10px 8px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 4px 6px 10px 8px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 4px 6px 10px 8px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.home__container .marketingBanners__container .marketingBanners__items .marketingBanners__item h2 {
  margin-bottom: 10px;
}
.home__container .marketingBanners__container .marketingBanners__items .marketingBanners__item:nth-child(2) {
  margin: 0 40px;
  text-align: center;
}
@media (max-width: 576px) {
  .home__container .marketingBanners__container .marketingBanners__items .marketingBanners__item:nth-child(2) {
    margin: 0;
    text-align: left;
  }
}
.home__container .marketingBanners__container .marketingBanners__items .marketingBanners__item:nth-child(3) {
  text-align: right;
}
@media (max-width: 576px) {
  .home__container .marketingBanners__container .marketingBanners__items .marketingBanners__item:nth-child(3) {
    text-align: left;
  }
}
.home__container .marketingBanners__container .marketingBanners__items .marketingBanners__item img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  min-height: 225px;
}
.home__container .marketingBanners__container .marketingBanners__items .marketingBanners__item p {
  line-height: 1.5;
}
.home__container .marketplace__items {
  padding: 0 2vw;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 35px;
  flex-direction: row;
  padding-bottom: 40px;
}
.home__container .marketplace__items .skeleton__container {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}
@media screen and (min-width: 576px) {
  .home__container .marketplace__items .skeleton__container {
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1024px) {
  .home__container .marketplace__items .skeleton__container {
    justify-content: space-between;
  }
}
@media (max-width: 576px) {
  .home__container .marketplace__items {
    justify-content: center;
  }
}
.home__container .marketplace__items .marketplaceCard__container {
  flex: 1 1 0;
  text-decoration: none;
  max-width: 18vw;
  min-width: 17vw;
  color: #000;
  border-radius: 16px;
  overflow: hidden;
  background: #fff;
  box-shadow: 4px 6px 10px 8px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 4px 6px 10px 8px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 4px 6px 10px 8px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
@media (max-width: 576px) {
  .home__container .marketplace__items .marketplaceCard__container {
    max-width: 85vw;
    min-width: 85vw;
  }
}
.home__container .marketplace__items .marketplaceCard__container:hover {
  transform: scale(1.02);
  box-shadow: 4px 6px 10px 8px rgba(124, 30, 255, 0.09);
  -webkit-box-shadow: 4px 6px 10px 8px rgba(124, 30, 255, 0.09);
  -moz-box-shadow: 4px 6px 10px 8px rgba(124, 30, 255, 0.09);
}
.home__container .marketplace__items .marketplaceCard__container .coverImage {
  height: 130px;
}
.home__container .marketplace__items .marketplaceCard__container .marketplaceDetails h4 {
  font-weight: 500;
  padding: 8px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.0666666667);
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.home__container .marketplace__items .marketplaceCard__container .marketplaceDetails .info {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.home__container .marketplace__items .marketplaceCard__container .marketplaceDetails .info p {
  flex: 1 1 0;
  font-size: 14px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home__container .marketplace__items .marketplaceCard__container .marketplaceDetails .info p .flex {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  margin-top: 3px;
}
.home__container .footer__container {
  background: #000;
  color: #fff;
}
.home__container .footer__container .footer {
  width: 80%;
  margin: auto;
  padding: 3vh 0;
  display: flex;
  justify-content: space-around;
}
.home__container .footer__container .footer .playpoint {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.home__container .footer__container .footer .playpoint .intro {
  display: flex;
  align-items: center;
  gap: 15px;
}
.home__container .footer__container .footer .playpoint .intro img {
  height: 70px;
  width: 70px;
}
.home__container .footer__container .footer .links {
  display: flex;
  gap: 5vw;
}
.home__container .footer__container .footer .links a {
  text-decoration: none;
  color: #fff;
}
.home__container .footer__container .footer .links .left {
  display: flex;
  flex-direction: column;
  gap: 1.6vh;
}
.home__container .footer__container .footer .social {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.home__container .footer__container .footer .social .icons {
  font-size: 2rem;
  display: flex;
  gap: 1vw;
}
.home__container .footer__container .footer .social .icons a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.home__container .footer__container .footer .social .icons a:hover {
  font-size: 2.4rem;
}/*# sourceMappingURL=style.css.map */