.loader__container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;

  .loading__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 4em;
    height: 4em;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .loadingCircle {
      display: block;
      width: 100%;
      height: 100%;
      background-color: #fff9;
      border-radius: 0.5rem;
      background-color: transparent;
      animation: bounce 1s ease infinite alternate;
      -webkit-animation: bounce 1s ease infinite alternate;

      @keyframes bounce {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(1.2);
        }
      }
    }
  }
}
