.signin__container {
  height: 80vh;
}
.signin__container .wrapper {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
@media screen and (min-width: 769px) {
  .signin__container .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
  }
}
@media screen and (min-width: 1025px) {
  .signin__container .wrapper {
    width: 80%;
  }
}
.signin__container .wrapper .signinhero__container {
  display: flex;
  flex-direction: column;
}
.signin__container .wrapper .signinhero__container h1 {
  font-size: 1.5em;
}
@media screen and (min-width: 1025px) {
  .signin__container .wrapper .signinhero__container h1 {
    font-size: 2em;
  }
}
.signin__container .wrapper .signinhero__container p {
  padding: 1em 0;
  color: rgba(255, 255, 255, 0.754);
  font-size: 0.9em;
}
@media screen and (min-width: 1025px) {
  .signin__container .wrapper .signinhero__container p {
    font-size: 17px;
  }
}
.signin__container .wrapper .signinform__container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.signin__container .wrapper .signin__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
}
.signin__container .wrapper .signin__form.active {
  -webkit-animation: fadeOut 2s;
          animation: fadeOut 2s;
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.signin__container .wrapper .signin__form .item {
  background-color: #fff;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  font-size: 16px;
}
.signin__container .wrapper .signin__form .item input {
  background-color: transparent;
  text-align: right;
  border: none;
  color: #000;
  font-size: 17px;
}
.signin__container .wrapper .signin__form .item input:focus {
  border: none;
  outline: none;
}
.signin__container .wrapper .signin__form .recovery {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signin__container .wrapper .signin__form .recovery .checkbox_container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.signin__container .wrapper .signin__form .recovery .checkbox_container input[type=checkbox] {
  padding: 5px 0;
  margin: 8px 0;
}
.signin__container .wrapper .signin__form .recovery .checkbox_container label {
  color: rgba(255, 255, 255, 0.739);
}
.signin__container .wrapper .signin__form .recovery p {
  color: rgba(255, 255, 255, 0.739);
}
.signin__container .wrapper .signin__form button {
  cursor: pointer;
  font-size: 18px;
  padding: 0.3em 0;
  text-transform: capitalize;
  color: rgba(34, 34, 34, 0.761);
  font-weight: 500;
}
.signin__container .wrapper .signin__form .continue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 1em 0;
}
.signin__container .wrapper .signin__form .continue div {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.signin__container .wrapper .signin__form .continue div span {
  border: 1px solid rgba(255, 255, 255, 0.47);
}
.signin__container .wrapper .signin__form .continue div span:nth-child(1) {
  position: absolute;
  left: 0;
  right: 75%;
}
.signin__container .wrapper .signin__form .continue div span:nth-child(3) {
  position: absolute;
  right: 0;
  left: 75%;
}
.signin__container .wrapper .signin__form .continue p {
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.739);
  display: flex;
  align-items: center;
  justify-content: center;
}
.signin__container .wrapper .signin__form .continue p:nth-child(2) i {
  cursor: pointer;
  text-align: center;
}
.signin__container .wrapper .otp__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.signin__container .wrapper .otp__container img {
  height: 150px;
  width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}
.signin__container .wrapper .otp__container .title {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.signin__container .wrapper .otp__container .boxes {
  display: flex;
  gap: 10px;
}
.signin__container .wrapper .otp__container .boxes .box {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  background-color: #fff;
}
.signin__container .wrapper .otp__container button {
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}/*# sourceMappingURL=style.css.map */