.signin__container {
  height: 80vh;
  .wrapper {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    @media screen and (min-width: 769px) {
      display: grid;
      grid-template-columns: 2fr 1fr;
      align-items: center;
    }

    .signinhero__container {
      display: flex;
      flex-direction: column;

      h1 {
        font-size: 1.5em;
      }

      p {
        padding: 1em 0;
        color: rgba(255, 255, 255, 0.754);
        font-size: 0.9em;
      }
    }

    .signin__form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .recovery {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .checkbox_container {
          display: flex;
          align-items: center;

          label {
            color: rgba(255, 255, 255, 0.739);
          }
        }

        p {
          color: rgba(255, 255, 255, 0.739);
        }
      }

      button {
        cursor: pointer;
        font-size: 1.2em;
        padding: 0.5em 0.6em;
        text-transform: capitalize;
        color: rgba(34, 34, 34, 0.761);
        font-weight: 600;
      }

      .signup__button {
        background: transparent;
        border: none;
        outline: none;
        width: fit-content;
        color: rgba(255, 255, 255, 0.808);
        padding: 5px;
        text-transform: capitalize;
      }

      .continue {
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 1em 0;

        div {
          display: flex;
          position: relative;
          align-items: center;
          justify-content: center;
          span {
            border: 1px solid rgba(255, 255, 255, 0.47);
            &:nth-child(1){
              position: absolute;
              left: 0;
              right: 70%;

            }
            &:nth-child(3){
              position: absolute;
              right: 0;
              left: 70%;
            }

          }
        }

        p {
          font-size: 1.2em;
          color: rgba(255, 255, 255, 0.739);
          display: flex;
          align-items: center;
          justify-content: center;
          &:nth-child(2) {
            i {
              cursor: pointer;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
