.footer__container {
  background: #000;
  color: #fff;
}
.footer__container .footer {
  padding: 50px 5vw;
}
@media screen and (min-width: 769px) {
  .footer__container .footer {
    display: flex;
    justify-content: space-between;
  }
}
.footer__container .footer .playpoint {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2vh;
}
.footer__container .footer .playpoint p {
  color: rgba(255, 255, 255, 0.797);
}
.footer__container .footer .playpoint .intro {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__container .footer .playpoint .intro h1 {
  font-family: "Playfair Display", serif;
}
.footer__container .footer .playpoint .intro img {
  height: 40px;
  width: 40px;
}
.footer__container .footer .links__container {
  display: flex;
  margin: 1em 0;
}
@media screen and (min-width: 769px) {
  .footer__container .footer .links__container {
    flex: 1;
    justify-content: center;
  }
}
.footer__container .footer .links__container .links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__container .footer .links__container .links h2 {
  font-family: "Playfair Display", serif;
}
.footer__container .footer .links__container .links a {
  color: rgba(254, 254, 254, 0.7);
  transition: 0.2s all ease-in-out;
}
.footer__container .footer .links__container .links a:hover {
  color: #fff;
}
.footer__container .footer .links__container a {
  text-decoration: none;
  color: #fff;
  display: flex;
}
.footer__container .footer .social {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}
.footer__container .footer .social .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__container .footer .social .text h2 {
  font-family: "Playfair Display", serif;
}
.footer__container .footer .social .text .subscribe {
  display: flex;
  gap: 10px;
}
.footer__container .footer .social .text .subscribe button {
  padding: 0 0.5em;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
  color: rgb(41, 41, 41);
  border-radius: 3px;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  transition: 0.4s ease;
  background-color: #6169ff;
  border: none;
}
.footer__container .footer .social .text p {
  color: rgba(255, 255, 255, 0.797);
  line-height: 1.5;
}
@media screen and (min-width: 769px) {
  .footer__container .footer .social {
    margin-top: 1em;
  }
}
.footer__container .footer .social .icons__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 426px) {
  .footer__container .footer .social .icons__container {
    flex-direction: row;
    gap: 150px;
    align-items: center;
  }
}
.footer__container .footer .social .icons__container .icons {
  font-size: 2rem;
  display: flex;
  gap: 1vw;
}
.footer__container .footer .social .icons__container .icons a {
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: 0.4s ease;
}
.footer__container .footer .social .icons__container .icons a:hover {
  transform: scale(1.2);
}
.footer__container .footer .social .icons__container .dropdown {
  position: relative;
}
.footer__container .footer .social .icons__container .dropdown .dropdown__btn {
  padding: 0.5em;
  background-color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer__container .footer .social .icons__container .dropdown .dropdown__btn i {
  font-size: 1.2em;
}
.footer__container .footer .social .icons__container .dropdown .dropdown__btn i:first-child {
  color: #6169ff;
}
.footer__container .footer .social .icons__container .dropdown .dropdown__btn i:last-child {
  color: rgba(0, 0, 0, 0.889);
  font-size: 1.4em;
}
.footer__container .footer .social .icons__container .dropdown .dropdown-content {
  position: absolute;
  bottom: 32px;
  padding: 0.5em;
  background: rgb(42, 42, 42);
  width: 150px;
}
.footer__container .footer .social .icons__container .dropdown .dropdown-content li {
  list-style: none;
}
.footer__container .footer .social .icons__container .dropdown .dropdown-content li button {
  color: #fff;
  background-color: transparent;
  width: 100%;
  border: none;
  margin: 0.2em 0;
  cursor: pointer;
  padding: 0.5em;
  display: flex;
  gap: 10px;
  align-items: center;
}
.footer__container .footer .social .icons__container .dropdown .dropdown-content li button:hover {
  background-color: rgb(219, 219, 219);
  color: #000;
}
.footer__container .copyright {
  padding: 20px 5vw;
  padding-bottom: 3em;
  display: flex;
  color: rgba(255, 255, 255, 0.797);
  justify-content: space-between;
  border-top: 1px solid rgba(126, 126, 126, 0.692);
}
@media screen and (max-width: 425px) {
  .footer__container .copyright {
    flex-direction: column;
  }
}
.footer__container .copyright .copy {
  display: flex;
  gap: 35px;
  padding-bottom: 0.5em;
}
@media screen and (max-width: 425px) {
  .footer__container .copyright .copy {
    flex-direction: column;
  }
}
.footer__container .copyright .copy a {
  color: #fff;
  text-decoration: none;
  transition: 0.4s ease;
}
.footer__container .copyright .copy a:hover {
  color: rgba(255, 255, 255, 0.66);
  text-decoration: underline;
  text-underline-offset: 2px;
}
.footer__container .copyright p {
  display: flex;
  align-items: center;
  font-size: 1.012rem;
}
.footer__container .copyright p i {
  padding: 0 0.3em;
}/*# sourceMappingURL=style.css.map */