.footer__container {
  background: #000;
  color: #fff;

  .footer {
    padding: 50px 5vw;

    @media screen and (min-width: 769px) {
      display: flex;
      justify-content: space-between;
    }
    .playpoint {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 2vh;

      p {
        color: rgba(255, 255, 255, 0.797);
      }

      .intro {
        display: flex;
        align-items: center;
        gap: 10px;

        h1 {
          font-family: "Playfair Display", serif;
        }

        img {
          height: 40px;
          width: 40px;
        }
      }
    }
    .links__container {
      display: flex;
      margin: 1em 0;

      @media screen and (min-width: 769px) {
        flex: 1;
        justify-content: center;
      }

      .links {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2 {
          font-family: "Playfair Display", serif;
        }

        a {
          color: rgba(254, 254, 254, 0.7);
          transition: 0.2s all ease-in-out;
          &:hover {
            color: #fff;
          }
        }
      }

      a {
        text-decoration: none;
        color: #fff;
        display: flex;
      }
    }
    .social {
      display: flex;
      flex-direction: column;
      gap: 20px;
      flex: 1;

      .text {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2 {
          font-family: "Playfair Display", serif;
        }

        .subscribe {
          display: flex;
          gap: 10px;

          button {
            padding: 0 0.5em;
            text-transform: uppercase;
            font-size: 1rem;
            cursor: pointer;
            color: rgb(41, 41, 41);
            border-radius: 3px;
            width: fit-content;
            color: #fff;
            transition: 0.4s ease;
            background-color: #6169ff;
            border: none;
          }
        }

        p {
          color: rgba(255, 255, 255, 0.797);
          line-height: 1.5;
        }
      }
      @media screen and (min-width: 769px) {
        margin-top: 1em;
      }
      .icons__container {
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media screen and (min-width: 426px) {
          flex-direction: row;
          gap: 150px;
          align-items: center;
        }
        .icons {
          font-size: 2rem;
          display: flex;
          gap: 1vw;
          a {
            cursor: pointer;
            text-decoration: none;
            color: white;
            transition: 0.4s ease;
            &:hover {
              transform: scale(1.2);
            }
          }
        }
        .dropdown {
          position: relative;

          .dropdown__btn {
            padding: 0.5em;
            background-color: #fff;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 5px;

            i {
              font-size: 1.2em;
              &:first-child {
                color: #6169ff;
              }
              &:last-child {
                color: rgba(0, 0, 0, 0.889);
                font-size: 1.4em;
              }
            }
          }

          .dropdown-content {
            position: absolute;
            bottom: 32px;
            padding: 0.5em;
            background: rgb(42, 42, 42);
            width: 150px;
            li {
              list-style: none;

              button {
                color: #fff;
                background-color: transparent;
                width: 100%;
                border: none;
                margin: 0.2em 0;
                cursor: pointer;
                padding: .5em;
                display: flex;
                gap: 10px;
                align-items: center;

                &:hover {
                  background-color: rgb(219, 219, 219);
                  color: #000;
                }
              }
            }
          }
        }
      }
    }
  }
  .copyright {
    padding: 20px 5vw;
    padding-bottom: 3em;
    display: flex;
    color: rgba(255, 255, 255, 0.797);
    justify-content: space-between;
    border-top: 1px solid rgba(126, 126, 126, 0.692);

    @media screen and (max-width: 425px) {
      flex-direction: column;
    }

    .copy {
      display: flex;
      gap: 35px;
      @media screen and (max-width: 425px) {
        flex-direction: column;
      }
      padding-bottom: 0.5em;

      a {
        color: #fff;
        text-decoration: none;
        transition: 0.4s ease;

        &:hover {
          color: rgba(255, 255, 255, 0.66);
          text-decoration: underline;
          text-underline-offset: 2px;
        }
      }
    }

    p {
      display: flex;
      align-items: center;
      font-size: 1.012rem;

      i {
        padding: 0 0.3em;
      }
    }
  }
}
