.leaderboards {
    &.true {
      border-top: 0.5px solid rgba(255, 255, 255, 0.734);
    }
    
    &.false {
      @media (max-width: 768px) {
        display: none;
      }
    }

    // @media screen and (max-width: 768px) {
    //   display: none;
    // }

    .leaderboardsTitle {
      font-weight: 500;
      // padding: .8em;
      text-align: center;
      margin-bottom: 15px;
      color: #fff;
      background: rgba(255, 255, 255, 0.08);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(3.7px);
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .leaderboardItemsTitle {
      // display: flex;
      // justify-content: space-between;
      display: grid !important;
      grid-template-columns: 3fr 1fr 1fr !important;
      justify-content: center;
      border-bottom: 0.5px solid #0001;
      padding-bottom: 10px;
      font-size: 14px;
      font-weight: 500;
      margin: 0 8px;
      color: #fff;

      p {
        &:nth-child(2) {
          justify-self: end;
        }

        &:last-child {
          justify-self: end;
        }
      }

      // p {
      //   // flex: 1 1 0;
      //   display: flex;
      //   align-items: center;
      //   gap: 2px;

      //   &:nth-child(1){
      //     flex: 0 1 300px;
      //   }
      // }
    }

    .leaderboardItems {
      font-size: 14px;
      height: 90vh;
      overflow-y: scroll;
      padding-bottom: 10px;

      &.windowsOS {
        height: 77vh;
      }

      .leaderboardItem__container {
        background: #191a20;
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
        align-items: center;
        padding: 8px;
        border-bottom: 0.5px solid #0001;

        &:hover {
          background: rgb(22, 21, 21);
          cursor: pointer;
        }

        p {
          display: flex;
          align-items: center;
          gap: 3px;
          &:nth-child(2) {
            justify-self: end;
          }
          &:last-child {
            justify-self: end;
          }

          img {
            height: 30px;
            object-fit: cover;
            border-radius: 50%;
          }
        }

        // p {
        //   // flex: 1 1 0;
        //   display: flex;
        //   align-items: center;
        //   justify-content: center;
        //   // gap: 2px;

        //   &:nth-child(1){
        //     flex: 0 1 300px;
        //     display: flex;
        //     gap: 5px;
        //     justify-content: flex-start;
        //   }

        //   &:nth-child(3){
        //     justify-content: flex-end;
        //   }

        //   img {
        //     height: 30px;
        //     object-fit: cover;
        //     border-radius: 50%;
        //   }
        // }
      }
    }
  }