.profile__container {
  margin-top: 121px;
  position: relative;
  padding-top: 1.5vh;

  .blob1 {
    background: url("https://ik.imagekit.io/domsan/image_L63diTKkM.png?ik-sdk-version=javascript-1.4.3&updatedAt=1669019260350")
      no-repeat center center;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(33, 33, 33, 0.3);
    width: 100vw;
    height: 270px;
    position: absolute;
    border-radius: 0 0 250px 250px;
    top: -121px;
    z-index: -1;

    @media (max-width: 576px) {
      height: 450px;
    }
  }

  .userData__container {
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-top: 3vh;
    align-items: center;
    justify-content: space-between;
    // flex-wrap: wrap;
    margin: 0 1em;
    gap: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 0.2em;
    padding: 1em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-bottom: 3vh;

    @media screen and (min-width: 426px) {
      margin: 0 2.5em;
    }

    @media screen and (min-width: 900px) {
      width: 50vw;
      margin: 2.5em auto;
    }

    .userData {
      display: flex;
      width: 100%;
      justify-content: space-between;
      // flex-direction: column;
      align-items: center;
      flex: 1;
      gap: 5px;
      position: relative;
      // margin-top: 3em;
      
      @media screen and (max-width:425px) {
        flex-wrap: wrap;
        width: 100%;
      }

      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;

        @media screen and (max-width:425px) {
          object-fit: contain;
          width: 100%;
        }

        // border: 1px solid rgb(114, 114, 114);
      }
    }

    .MuiButton-root {
      display: flex;
      align-items: center;
      gap: 8px;
      text-transform: capitalize;
      background: #6b5ce7;
      color: #fff;
      padding: 0 10px;
      min-width: 0;
      text-transform: capitalize;
    }

    .userdetails__container {
      @media screen and (max-width:425px) {
        width: 100%;
      }
      .userdetails {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 0.5em;
        fieldset {
          display: flex;
          align-items: center;
          flex-direction: column;
          // font-size: 1.3em;
          border: none;
          gap: 15px;

          h2 {
            color: #000;
          }

          input {
            padding: 0.5em;
            border-radius: 5px;
            border: 1px solid #6b5ce7;

            &:focus {
              outline: none;
            }
          }
          button {
            background-color: #fff;
            border: 1px solid #6b5ce7;
            padding: 0.5em;
            transition: background 1s ease-in-out;
            padding: 0 0.2em;

            i {
              color: #6b5ce7;
              font-size: 22px;
            }
          }
        }
      }
    }

    .accountbtn {
      // font-size: 1.3em;
      color: #0009;
      padding: 0.5em 0.5em;
      position: relative;
      // width: 200px;
      text-align: center;
      background-color: #f2f4f6;

      div {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .address {
        display: flex;
      }
      &:hover {
        cursor: pointer;
        &::before {
          display: inline-block;
        }
      }

      &::before {
        content: attr(data-title);
        position: absolute;
        display: none;
        z-index: 5;
        width: 200px;
        left: 0;
        animation-name: slide;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        background-color: rgba($color: #000000, $alpha: 1);
        color: #fff;
      }
      &::after {
        position: absolute;
        z-index: 1;
        display: none;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        content: "";
        bottom: calc(100% - 11px);
        left: 50%;
        animation-name: slide;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        border-bottom-color: rgba($color: #000000, $alpha: 0.8);
      }
    }

    .MuiButton-root {
      gap: 0;
    }
    .addMoneyBtn {
      padding: 0.5em;
      margin-top: 0.2em;
      font-size: 1.1em;
    }
  }

  .summary__container {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    gap: 10px;
    flex: 1;
    padding-bottom: 1em;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    color: #fff;

    .summaryItem {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      // flex-direction: column;
      gap: 8px;
      padding: 5px 10px 5px 10px;
      // border-bottom: 1px solid #6b5ce7;
      color: #000;

      // @media screen and (min-width: 426px) {
      //   border-bottom: none;
      //   &:nth-child(1) {
      //     border-right: 1px solid #6b5ce7;
      //   }
      // }

      i {
        font-size: 25px;
        color: #6b5ce7;
        border-radius: 12px;
      }

      p {
        font-size: 14px;
        font-weight: 600;
      }

      h3 {
        font-weight: 400;
      }
    }
  }

  .balance__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media screen and (max-width:425px) {
      align-items: center;
      width: 100%;
    }
    .balance__wrapper {
      display: flex;
      background: rgb(0 0 0 / 88%);
      border-radius: 6px;
      color: #fff;
      padding: 0.4em;
      gap: 5px;
      // flex-direction: column;
      .balance {
        display: flex;
        align-items: center;
        gap: 5px;
        padding-right: .8em;
        // padding: .1em;
        &:nth-child(1){
        
          border-right: 1px solid;
        }
        img {
          width: 30px;
          height: 30px;
          object-fit: contain;
        }
      }

    }
  }

  .history__container {
    margin: 0 5vw;
    margin-top: 20px;

    .profile-menus__container {
      .MuiBox-root {
        background: rgba(255, 255, 255, 0.08);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(3.7px);
      }
      .Mui-selected {
        color: #ffffff;
        background: #2f3542;
      }
    }
    @media screen and (max-width: 426px) {
      display: none;
    }
    .titles {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 0.5px solid #0001;
      padding: 15px 0;
      background: #2f3542;
      color: #fff;
      text-transform: capitalize;

      p {
        flex: 1 1 0;
        text-transform: uppercase;
        padding: 0 5px;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .history__items {
      .history__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 0.5px solid #0001;
        padding: 10px 0;
        text-transform: capitalize;
        cursor: pointer;

        &:nth-child(odd) {
          p {
            color: rgba(255, 255, 255, 0.66);
          }
        }

        &:nth-child(even) {
          p {
            color: #000;
          }
        }

        p {
          flex: 1 1 0;
          text-transform: uppercase;
          padding: 0 5px;
          font-size: 14px;

          &:nth-child(2) {
            span {
              width: 250px;
            }
            &.win {
              span {
                text-align: center;
                background: #2ecc7044;
                padding: 3px 18px;
                border-radius: 2px;
                color: #2ecc71;
              }
            }
            &.active {
              span {
                text-align: center;
                background: #9c59b63d;
                padding: 3px 8px;
                border-radius: 2px;
                color: #9b59b6;
              }
            }
            &.lose {
              span {
                text-align: center;
                background: #e74d3c44;
                padding: 3px 15px;
                border-radius: 2px;
                color: #e74c3c;
              }
            }
          }
          &:nth-child(3) {
            &.win {
              color: #2ecc71;
              font-weight: 500;
            }
            &.lose {
              color: #e74c3c;
            }
          }
        }

        &:nth-child(2n) {
          background: #f0f0f0;

          &:hover {
            background: #ced6e0;
          }
        }
      }
    }
  }

  .css-1p5q5e5-MuiStack-root {
    @media screen and (max-width: 426px) {
      display: none;
    }
  }

  .pagination__container {
    @media screen and (max-width: 426px) {
      display: none;
    }
  }

  .MuiPagination-root {
    margin: 10px 4.5vw;
  }
  .mobhistory_container {
    @media screen and (min-width: 426px) {
      display: none;
    }
    .card {
      display: grid;
      grid-template-areas:
        "id id ."
        "amount amount result"
        "winlose winlose match"
        "date date date";

      grid-auto-columns: minmax(0, 1fr);
      grid-auto-flow: column;
      background-color: #efefef;
      border-radius: 5px;
      width: 90%;
      margin: 1em auto;
      padding: 0.5em;
      gap: 15px;
      position: relative;
      box-shadow: rgba(99, 99, 99, 0.421) 0px 2px 8px 0px;
      margin-bottom: 2em;

      .id__container {
        grid-area: id;
        background-color: #6060604d;
        padding: 0.3em;
        border-radius: 3px;
        width: fit-content;
        .id {
          font-size: 0.9em;
          em {
            color: #3a791c;
          }
        }
      }

      .amount {
        grid-area: amount;
      }
      .result {
        grid-area: result;
      }
      .win-lose {
        grid-area: winlose;
      }
      .match {
        grid-area: match;
      }
      .date {
        grid-area: date;
        color: #0007;
        text-align: center;
        font-size: 0.8em;
      }

      .winlose {
        position: absolute;
        width: 100px;
        background-color: rgb(236, 236, 236);
        right: 20px;
        top: -7px;
        text-align: center;
        padding: 0.3em;
        border-radius: 3px;
        box-shadow: rgba(52, 52, 52, 0.392) 0px 2px 8px 0px;
      }
    }
  }
}
