.profile__container {
  margin-top: 121px;
  position: relative;
  padding-top: 1.5vh;
}
.profile__container .blob1 {
  background: url("https://ik.imagekit.io/domsan/image_L63diTKkM.png?ik-sdk-version=javascript-1.4.3&updatedAt=1669019260350") no-repeat center center;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(33, 33, 33, 0.3);
  width: 100vw;
  height: 270px;
  position: absolute;
  border-radius: 0 0 250px 250px;
  top: -121px;
  z-index: -1;
}
@media (max-width: 576px) {
  .profile__container .blob1 {
    height: 450px;
  }
}
.profile__container .userData__container {
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin-top: 3vh;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 1em;
  gap: 10px;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 0.2em;
  padding: 1em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-bottom: 3vh;
}
@media screen and (min-width: 426px) {
  .profile__container .userData__container {
    margin: 0 2.5em;
  }
}
@media screen and (min-width: 900px) {
  .profile__container .userData__container {
    width: 35vw;
    margin: 0 auto;
  }
}
.profile__container .userData__container .userData {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 5px;
  position: relative;
  margin-top: 3em;
}
.profile__container .userData__container .userData img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  position: absolute;
  top: -160px;
}
.profile__container .userData__container .MuiButton-root {
  display: flex;
  align-items: center;
  gap: 8px;
  text-transform: capitalize;
  background: #6b5ce7;
  color: #fff;
  padding: 0 10px;
  min-width: 0;
  text-transform: capitalize;
}
.profile__container .userData__container .userdetails__container .userdetails {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 0.5em;
}
.profile__container .userData__container .userdetails__container .userdetails fieldset {
  display: flex;
  align-items: center;
  border: none;
  gap: 15px;
}
.profile__container .userData__container .userdetails__container .userdetails fieldset h2 {
  color: #000;
}
.profile__container .userData__container .userdetails__container .userdetails fieldset input {
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #6b5ce7;
}
.profile__container .userData__container .userdetails__container .userdetails fieldset input:focus {
  outline: none;
}
.profile__container .userData__container .userdetails__container .userdetails fieldset button {
  background-color: #fff;
  border: 1px solid #6b5ce7;
  padding: 0.5em;
  transition: background 1s ease-in-out;
  padding: 0 0.2em;
}
.profile__container .userData__container .userdetails__container .userdetails fieldset button i {
  color: #6b5ce7;
  font-size: 22px;
}
.profile__container .userData__container .accountbtn {
  color: rgba(0, 0, 0, 0.6);
  padding: 0.5em 0.5em;
  position: relative;
  text-align: center;
  background-color: #f2f4f6;
}
.profile__container .userData__container .accountbtn:hover {
  cursor: pointer;
}
.profile__container .userData__container .accountbtn:hover::before {
  display: inline-block;
}
.profile__container .userData__container .accountbtn::before {
  content: attr(data-title);
  position: absolute;
  display: none;
  z-index: 5;
  width: 200px;
  left: 0;
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-color: black;
  color: #fff;
}
.profile__container .userData__container .accountbtn::after {
  position: absolute;
  z-index: 1;
  display: none;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  content: "";
  bottom: calc(100% - 11px);
  left: 50%;
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  border-bottom-color: rgba(0, 0, 0, 0.8);
}
.profile__container .userData__container .MuiButton-root {
  gap: 0;
}
.profile__container .userData__container .addMoneyBtn {
  padding: 0.5em;
  margin-top: 0.2em;
  font-size: 1.1em;
}
.profile__container .summary__container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex: 1;
  padding-bottom: 1em;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}
.profile__container .summary__container .summaryItem {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 8px;
  padding: 5px 10px 5px 10px;
  border-bottom: 1px solid #6b5ce7;
}
@media screen and (min-width: 426px) {
  .profile__container .summary__container .summaryItem {
    border-bottom: none;
  }
  .profile__container .summary__container .summaryItem:nth-child(1) {
    border-right: 1px solid #6b5ce7;
  }
}
.profile__container .summary__container .summaryItem i {
  font-size: 25px;
  color: #6b5ce7;
  border-radius: 12px;
}
.profile__container .summary__container .summaryItem p {
  font-size: 14px;
  font-weight: 600;
}
.profile__container .summary__container .summaryItem h3 {
  font-weight: 400;
}
.profile__container .history__container {
  margin: 0 5vw;
  margin-top: 20px;
}
.profile__container .history__container .profile-menus__container .MuiBox-root {
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(3.7px);
}
.profile__container .history__container .profile-menus__container .Mui-selected {
  color: #ffffff;
  background: #2f3542;
}
@media screen and (max-width: 426px) {
  .profile__container .history__container {
    display: none;
  }
}
.profile__container .history__container .titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.0666666667);
  padding: 15px 0;
  background: #2f3542;
  color: #fff;
  text-transform: capitalize;
}
.profile__container .history__container .titles p {
  flex: 1 1 0;
  text-transform: uppercase;
  padding: 0 5px;
  font-size: 14px;
  font-weight: 500;
}
.profile__container .history__container .history__items .history__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.0666666667);
  padding: 10px 0;
  text-transform: capitalize;
  cursor: pointer;
}
.profile__container .history__container .history__items .history__item:nth-child(even) p {
  color: #000;
}
.profile__container .history__container .history__items .history__item p {
  flex: 1 1 0;
  text-transform: uppercase;
  padding: 0 5px;
  font-size: 14px;
}
.profile__container .history__container .history__items .history__item p:nth-child(2) span {
  width: 250px;
}
.profile__container .history__container .history__items .history__item p:nth-child(2).win span {
  text-align: center;
  background: rgba(46, 204, 112, 0.2666666667);
  padding: 3px 18px;
  border-radius: 2px;
  color: #2ecc71;
}
.profile__container .history__container .history__items .history__item p:nth-child(2).active span {
  text-align: center;
  background: rgba(156, 89, 182, 0.2392156863);
  padding: 3px 8px;
  border-radius: 2px;
  color: #9b59b6;
}
.profile__container .history__container .history__items .history__item p:nth-child(2).lose span {
  text-align: center;
  background: rgba(231, 77, 60, 0.2666666667);
  padding: 3px 15px;
  border-radius: 2px;
  color: #e74c3c;
}
.profile__container .history__container .history__items .history__item p:nth-child(3).win {
  color: #2ecc71;
  font-weight: 500;
}
.profile__container .history__container .history__items .history__item p:nth-child(3).lose {
  color: #e74c3c;
}
.profile__container .history__container .history__items .history__item:nth-child(2n) {
  background: #f0f0f0;
}
.profile__container .history__container .history__items .history__item:nth-child(2n):hover {
  background: #ced6e0;
}
@media screen and (max-width: 426px) {
  .profile__container .css-1p5q5e5-MuiStack-root {
    display: none;
  }
}
@media screen and (max-width: 426px) {
  .profile__container .pagination__container {
    display: none;
  }
}
.profile__container .MuiPagination-root {
  margin: 10px 4.5vw;
}
@media screen and (min-width: 426px) {
  .profile__container .mobhistory_container {
    display: none;
  }
}
.profile__container .mobhistory_container .card {
  display: grid;
  grid-template-areas: "id id ." "amount amount result" "winlose winlose match" "date date date";
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  background-color: #efefef;
  border-radius: 5px;
  width: 90%;
  margin: 1em auto;
  padding: 0.5em;
  gap: 15px;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.421) 0px 2px 8px 0px;
  margin-bottom: 2em;
}
.profile__container .mobhistory_container .card .id__container {
  grid-area: id;
  background-color: rgba(96, 96, 96, 0.3019607843);
  padding: 0.3em;
  border-radius: 3px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.profile__container .mobhistory_container .card .id__container .id {
  font-size: 0.9em;
}
.profile__container .mobhistory_container .card .id__container .id em {
  color: #3a791c;
}
.profile__container .mobhistory_container .card .amount {
  grid-area: amount;
}
.profile__container .mobhistory_container .card .result {
  grid-area: result;
}
.profile__container .mobhistory_container .card .win-lose {
  grid-area: winlose;
}
.profile__container .mobhistory_container .card .match {
  grid-area: match;
}
.profile__container .mobhistory_container .card .date {
  grid-area: date;
  color: rgba(0, 0, 0, 0.4666666667);
  text-align: center;
  font-size: 0.8em;
}
.profile__container .mobhistory_container .card .winlose {
  position: absolute;
  width: 100px;
  background-color: rgb(236, 236, 236);
  right: 20px;
  top: -7px;
  text-align: center;
  padding: 0.3em;
  border-radius: 3px;
  box-shadow: rgba(52, 52, 52, 0.392) 0px 2px 8px 0px;
}/*# sourceMappingURL=style.css.map */