.profile__container {
  @media screen and (min-width: 769px) {
    display: grid;
    grid-template-columns: 1fr 11fr;
  }

  @media screen and (min-width:769px) {
  padding: 1em 0;    
  }

  i {
    cursor: pointer;
  }
}
