.profile__container {
  margin-top: 190px;
  position: relative;
  padding-top: 1.5vh;

  .blob1 {
    background: url("https://ik.imagekit.io/domsan/Screen_Shot_2022-09-08_at_20.10.25_Fwn3-6res.png?ik-sdk-version=javascript-1.4.3&updatedAt=1662647143911")
      no-repeat fixed center center;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(33, 33, 33, 0.3);
    width: 100vw;
    height: 270px;
    position: absolute;
    border-radius: 0 0 250px 250px;
    top: -10vh;
    z-index: -1;
  }

  .summary__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 55vw;
    margin: 0 auto;

    .summaryItem {
      display: flex;
      align-items: center;
      gap: 8px;
      background: #a29bfe8c;
      backdrop-filter: blur(3px);
      -webkit-backdrop-filter: blur(3px);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      padding: 12px 19px 12px 15px;
      border-radius: 12px;
      color: #fff;

      i {
        font-size: 25px;
        background: #6c5ce7;
        padding: 10px;
        border-radius: 12px;
      }

      p {
        font-size: 14px;
        font-weight: 600;
      }

      h3 {
        font-weight: 400;
      }
    }
  }

  .userData {
    display: flex;
    justify-content: center;
    z-index: 1;
    margin-top: 3vh;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    }

    .MuiButton-root {
      display: flex;
      align-items: center;
      gap: 8px;
      text-transform: capitalize;
      background: #6b5ce7;
      color: #fff;
      padding: 2px 10px;
    }
  }

  .history__container {
    margin: 0 5vw;
    margin-top: 20px;

    .titles {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 0.5px solid #0001;
      padding: 15px 0;
      background: #2f3542;
      color: #fff;

      p {
        flex: 1 1 0;
        text-transform: uppercase;
        padding: 0 5px;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .history__items {
      .history__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 0.5px solid #0001;
        padding: 10px 0;
        cursor: pointer;

        &:hover {
          background: #ced6e0;
        }

        p {
          flex: 1 1 0;
          text-transform: uppercase;
          padding: 0 5px;
          font-size: 14px;

          &:nth-child(2) {
            span {
              width: 250px;
            }
            &.win {
              span {
                text-align: center;
                background: #2ecc7044;
                padding: 3px 18px;
                border-radius: 2px;
                color: #2ecc71;
              }
            }
            &.active {
              span {
                text-align: center;
                background: #9c59b63d;
                padding: 3px 8px;
                border-radius: 2px;
                color: #9b59b6;
              }
            }
            &.lose {
              span {
                text-align: center;
                background: #e74d3c44;
                padding: 3px 15px;
                border-radius: 2px;
                color: #e74c3c;
              }
            }
          }
          &:nth-child(4) {
            &.win {
              color: #2ecc71;
              font-weight: 500;
            }
            &.lose {
              color: #e74c3c;
            }
          }
        }

        &:nth-child(2n) {
          background: #f1f2f6;

          &:hover {
            background: #ced6e0;
          }
        }
      }
    }
  }

  .MuiPagination-root {
    margin: 10px 4.5vw;
  }
}