.profile__container {
  display: flex;
  gap: 30px;

  @media screen and (max-width:768px) {
    flex-direction: column;
  }

  @media screen and (min-width: 769px) {
    display: grid;
    grid-template-columns: 1fr 19fr;
  }

  .profile__header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 30px;
  }

  @media screen and (min-width:769px) {
  padding: 1em 0;    
  }

  i {
    cursor: pointer;
  }
}

.profile__box {
  display: flex;
  justify-content: space-between;
  // align-items: center;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    margin-top: 1.2em;
    gap: 10px;
  }

  .username {
    display: flex;
    flex-direction: column;
    gap: 5px;

    h3 {
      display: flex;
      gap: 5px;
      font-size: 1.8em;
      span {
        color: #1e8ecb;
      }
    }
    p {
      color: #8c8d8d;
    }
  }

  .profleImage_box {
    display: flex;
    align-items: center;
    gap: 10px;
    p {
      padding: 0.5em;

      &:first-child {
        background: rgba(255, 255, 255, 0.15);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.18);
      }

      &:not(.date) {
        background-color: #f5f5f54a;
        border-radius: 50%;
      }

      i {
        font-size: 1.4em;
      }

      .MuiBadge-badge {
        top: 5px;
        right: 4px;
      }
    }

    img {
      height: 50px;
      width: 50px;
      object-fit: cover;
    }
  }
}
