.leaderboard__container {
  margin: 1em 0;

  .filterarea {
    display: flex;
    align-items: center;
    margin: 1.5em 2vw;
    justify-content: space-between;

    .search__container {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #bbc4cf;
      border: 1px solid currentColor;
      border-radius: 16px;
      width: 20vw;
      margin: 0 auto;

      .icon {
        padding: 0.5em;
        border-right: 1px solid;
      }

      input[type="input"] {
        font-size: 1.1em;
        padding: 0.7em;
        border: none;
        background-color: transparent;
        border: 1px solid transparent;
        color: #0009;
        width: 90%;
        &:focus {
          outline: none;
        }
        &::-webkit-search-cancel-button {
          cursor: pointer;
          padding: 0.1em;
        }
      }
    }

    select {
      padding: 0.4em;
      color: #0009;
      background-color: #fff9;
      &:focus {
        outline: none;
      }
      @media screen and (min-width: 769px) {
        width: 20vw;
        font-size: 1.1em;
        padding: 0.5em;
      }
    }
  }
}
