.leaderboard__container .filterarea {
  display: flex;
  align-items: center;
  margin: 15px 2vw;
  justify-content: space-between;
}
.leaderboard__container .filterarea .search__container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bbc4cf;
  border: 1px solid currentColor;
  border-radius: 16px;
  width: 20vw;
  margin: 0 auto;
}
.leaderboard__container .filterarea .search__container .icon {
  padding: 0.5em;
  border-right: 1px solid;
}
.leaderboard__container .filterarea .search__container input[type=input] {
  font-size: 16px;
  padding: 0.7em;
  border: none;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(0, 0, 0, 0.6);
  width: 90%;
}
.leaderboard__container .filterarea .search__container input[type=input]:focus {
  outline: none;
}
.leaderboard__container .filterarea .search__container input[type=input]::-webkit-search-cancel-button {
  cursor: pointer;
  padding: 0.1em;
}
.leaderboard__container .filterarea select {
  padding: 0.4em;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.6);
}
.leaderboard__container .filterarea select:focus {
  outline: none;
}
@media screen and (min-width: 769px) {
  .leaderboard__container .filterarea select {
    width: 15vw;
    font-size: 16px;
    padding: 0.5em;
  }
}
.leaderboard__container main {
  margin: 10px 0;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.leaderboard__container main h2 {
  margin-bottom: 20px;
}
.leaderboard__container main .fixturesLeaderboard__container {
  flex: 1;
  padding: 10px 0;
  padding-left: 2vw;
}
.leaderboard__container main .fixturesLeaderboard__container .MuiTableRow-root {
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}
.leaderboard__container main .fixturesLeaderboard__container .MuiTableRow-root:hover {
  background: rgba(82, 82, 82, 0.067);
}
.leaderboard__container main .fixturesLeaderboard__container .MuiTableCell-root {
  padding: 12px 16px;
}
.leaderboard__container main .fixturesLeaderboard__container .MuiTableCell-root a {
  text-decoration: none;
}
.leaderboard__container main .fixturesLeaderboard__container .MuiTableCell-root .fixtureContent {
  display: flex;
  align-items: center;
  gap: 10px;
}
.leaderboard__container main .fixturesLeaderboard__container .MuiTableCell-root .fixtureContent .homeTeam,
.leaderboard__container main .fixturesLeaderboard__container .MuiTableCell-root .fixtureContent .awayTeam {
  display: flex;
  align-items: center;
  gap: 8px;
}
.leaderboard__container main .fixturesLeaderboard__container .MuiTableCell-root .fixtureContent img {
  height: 30px;
}
.leaderboard__container main .fixturesLeaderboard__container .MuiTableCell-root .userContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.leaderboard__container main .fixturesLeaderboard__container .MuiTableCell-root .userContent img {
  width: 30px;
}
.leaderboard__container main .usersLeaderboard__container {
  border-left: 0.5px solid rgba(0, 0, 0, 0.1333333333);
  padding: 10px 0;
  padding-left: 20px;
  padding-right: 2vw;
  height: 79vh;
  overflow-y: scroll;
}
.leaderboard__container main .usersLeaderboard__container a {
  text-decoration: none;
}
.leaderboard__container main .usersLeaderboard__container .topThreeUsers .topUser {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.leaderboard__container main .usersLeaderboard__container .topThreeUsers .topUser img {
  width: 13vw;
  height: 13vw;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  margin-bottom: 10px;
  cursor: pointer;
}
.leaderboard__container main .usersLeaderboard__container .topThreeUsers .topUser h4 {
  font-weight: 500;
}
.leaderboard__container main .usersLeaderboard__container .topThreeUsers .topUser a {
  color: #6d6f71;
}
.leaderboard__container main .usersLeaderboard__container .topThreeUsers .topUser .gameDetails {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 14px;
}
.leaderboard__container main .usersLeaderboard__container .topThreeUsers .topUser .gameDetails p {
  font-weight: 500;
}
.leaderboard__container main .usersLeaderboard__container .topThreeUsers .top3User {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 15px;
}
.leaderboard__container main .usersLeaderboard__container .topThreeUsers .top3User img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.leaderboard__container main .usersLeaderboard__container .topThreeUsers .top3User h2 {
  margin-bottom: 3px;
}
.leaderboard__container main .usersLeaderboard__container .topThreeUsers .top3User h4 {
  font-weight: 500;
  font-size: 16px;
}
.leaderboard__container main .usersLeaderboard__container .topThreeUsers .top3User .gameDetails {
  display: flex;
  justify-content: space-between;
  align-items: align-start;
  font-size: 14px;
  margin-top: 5px;
}/*# sourceMappingURL=style.css.map */