.leaderboard__container {
  margin: 1em 0;
  .divider {
    background: rgb(255, 91, 91);
    background: -moz-linear-gradient(
      140deg,
      rgba(255, 91, 91, 1) 0%,
      rgba(255, 163, 57, 1) 20%,
      rgba(130, 255, 66, 1) 40%,
      rgba(27, 255, 222, 1) 62%,
      rgba(14, 234, 238, 1) 81%,
      rgba(34, 172, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
      140deg,
      rgba(255, 91, 91, 1) 0%,
      rgba(255, 163, 57, 1) 20%,
      rgba(130, 255, 66, 1) 40%,
      rgba(27, 255, 222, 1) 62%,
      rgba(14, 234, 238, 1) 81%,
      rgba(34, 172, 255, 1) 100%
    );
    background: linear-gradient(
      140deg,
      rgba(255, 91, 91, 1) 0%,
      rgba(255, 163, 57, 1) 20%,
      rgba(130, 255, 66, 1) 40%,
      rgba(27, 255, 222, 1) 62%,
      rgba(14, 234, 238, 1) 81%,
      rgba(34, 172, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5b5b",endColorstr="#22acff",GradientType=1);
    height: 3px;
    width: 100%;
  }
  .searchinfo {
    width: 90%;
    margin: 0 auto;
    p {
      text-align: right;
      padding: 0 0.5em;
      color: #0009;
    }
  }
  .filterarea {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 1.5em auto;
    gap: 10px;

    select {
      padding: 0.4em;
      color: #0009;
      background-color: #fff9;
      &:focus {
        outline: none;
      }
      @media screen and (min-width: 769px) {
        width: 25%;
        font-size: 1.1em;
        padding: 0.5em;
      }
    }

    @media screen and (min-width: 426px) {
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}
