.leaderboard__container {
  .filterarea {
    display: flex;
    align-items: center;
    margin: 15px 2vw;
    justify-content: space-between;

    h1 {
      color: #fff;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    .search__container {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #bbc4cf;
      border: 1px solid currentColor;
      border-radius: 16px;
      width: 20vw;
      margin: 0 auto;

      @media (max-width: 976px) {
        width: 80vw;
      }

      .icon {
        padding: 0.5em;
        border-right: 1px solid;
      }

      input[type="input"] {
        font-size: 16px;
        padding: 0.7em;
        border: none;
        background-color: transparent;
        border: 1px solid transparent;
        color: #fff9;
        width: 90%;

        &:focus {
          outline: none;
        }
        &::-webkit-search-cancel-button {
          cursor: pointer;
          padding: 0.1em;
        }
      }
    }

    select {
      padding: 0.4em;
      color: #0009;
      background-color: #fff;
      cursor: pointer;
      @media screen and (max-width: 976px) {
        display: none;
      }

      &:focus {
        outline: none;
      }
      @media screen and (min-width: 769px) {
        width: 15vw;
        font-size: 16px;
        padding: 0.5em;
      }
    }
  }
}
