.navbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 5vw;
  background: #000;
  color: #fff;
}
.navbar__container .logo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  cursor: pointer;
}
.navbar__container .logo__container img {
  width: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}
.navbar__container .logo__container h3 {
  font-weight: 500;
}
.navbar__container .logo__container .navLinks {
  margin-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 25px;
}
@media (max-width: 576px) {
  .navbar__container .logo__container .navLinks {
    display: none;
  }
}
.navbar__container .logo__container .navLinks div {
  color: rgba(254, 254, 254, 0.7);
  text-decoration: none;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  font-weight: 300;
  font-size: 15px;
}
.navbar__container .logo__container .navLinks div:hover {
  color: #fff;
}
.navbar__container .navbar__authentication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.navbar__container .navbar__authentication .MuiButton-root {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  text-transform: capitalize;
}
@media (max-width: 576px) {
  .navbar__container .navbar__authentication {
    display: none;
  }
}
.navbar__container .drawer i {
  font-size: 22px;
}
.navbar__container .drawer .drawerListItem {
  gap: 5px !important;
}