.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 2vw;
  background: #000;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
}
.navbar__container .logo__container {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.navbar__container .logo__container img {
  width: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}
.navbar__container .logo__container h3 {
  font-weight: 500;
}
.navbar__container .logo__container .navLinks {
  margin-left: 25px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 25px;
}
@media (max-width: 576px) {
  .navbar__container .logo__container .navLinks {
    display: none;
  }
}
.navbar__container .logo__container .navLinks div {
  color: rgba(254, 254, 254, 0.7);
  text-decoration: none;
  transition: 0.2s all ease-in-out;
  font-weight: 300;
  font-size: 15px;
}
.navbar__container .logo__container .navLinks div:hover {
  color: #fff;
}
.navbar__container .navbar__authentication {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar__container .navbar__authentication .balance {
  color: rgba(254, 254, 254, 0.7);
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s all ease-in-out;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.navbar__container .navbar__authentication .balance img {
  width: 10px;
}
.navbar__container .navbar__authentication .balance:hover {
  color: #fff;
}
.navbar__container .navbar__authentication .MuiButton-root {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: capitalize;
}
.navbar__container .navbar__authentication .buyButton {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 36.5px;
  letter-spacing: 0.39998px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
@media (max-width: 769px) {
  .navbar__container .navbar__authentication {
    display: none;
  }
}
.navbar__container .drawer .MuiDivider-root {
  border-color: rgba(164, 164, 164, 0.887) !important;
}
@media screen and (min-width: 769px) {
  .navbar__container .drawer {
    display: none;
  }
}
.navbar__container .drawer i {
  font-size: 22px;
}
.navbar__container .drawer .drawerListItem {
  gap: 5px !important;
}

.MuiDrawer-paper {
  background-color: #151515 !important;
}

.MuiDivider-root {
  border-color: rgba(164, 164, 164, 0.887) !important;
}

.navUserData {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}
.navUserData img {
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
}
.navUserData p {
  color: rgba(255, 255, 255, 0.776);
}
.navUserData h2 {
  color: rgba(255, 255, 255, 0.776);
}
.navUserData .balance__wrapper {
  display: flex;
  gap: 20px;
}
.navUserData .balance__wrapper .balance {
  display: flex;
  align-items: center;
  gap: 6px;
}
.navUserData .balance__wrapper .balance img {
  height: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}
.navUserData .MuiButton-root {
  display: flex;
  gap: 5px;
  outline: 1px solid #fff !important;
}/*# sourceMappingURL=style.css.map */