main.leaderboardMain__container {
  margin: 2em 2vw;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: flex-start;
}
main.leaderboardMain__container .fixturesLeaderboard__container {
  flex: 1;
  padding: 10px 0;
}
main.leaderboardMain__container .fixturesLeaderboard__container h1 {
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
}
main.leaderboardMain__container .fixturesLeaderboard__container .leaderboardskeleton__container .stack {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0.5em;
}
main.leaderboardMain__container .fixturesLeaderboard__container .leaderboardskeleton__container .stack .MuiSkeleton-root {
  padding: 0.2em;
  background-color: rgba(203, 203, 203, 0.11) !important;
}
main.leaderboardMain__container .fixturesLeaderboard__container h2 {
  color: #fff;
}
main.leaderboardMain__container .fixturesLeaderboard__container .MuiPaper-root {
  background: rgba(143, 143, 143, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(3.7px);
}
main.leaderboardMain__container .fixturesLeaderboard__container .MuiPaper-root table thead tbody tr:hover {
  background-color: none !important;
}
main.leaderboardMain__container .fixturesLeaderboard__container .MuiPaper-root table thead tbody tr th {
  color: #fff !important;
}
@media (max-width: 968px) {
  main.leaderboardMain__container .fixturesLeaderboard__container {
    padding: 20px 0;
    overflow-x: scroll;
    max-width: 90vw;
  }
}
main.leaderboardMain__container .fixturesLeaderboard__container .MuiTableRow-root {
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}
main.leaderboardMain__container .fixturesLeaderboard__container .MuiTableRow-root:hover {
  background: rgba(82, 82, 82, 0.067);
}
main.leaderboardMain__container .fixturesLeaderboard__container .MuiTableCell-root {
  padding: 12px 16px;
}
@media (max-width: 968px) {
  main.leaderboardMain__container .fixturesLeaderboard__container .MuiTableCell-root {
    padding: 5px 10px;
  }
  main.leaderboardMain__container .fixturesLeaderboard__container .MuiTableCell-root.gameInformation {
    display: none;
  }
}
main.leaderboardMain__container .fixturesLeaderboard__container .MuiTableCell-root a {
  text-decoration: none;
}
main.leaderboardMain__container .fixturesLeaderboard__container .MuiTableCell-root .fixtureContent {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 968px) {
  main.leaderboardMain__container .fixturesLeaderboard__container .MuiTableCell-root .fixtureContent {
    gap: 5px;
  }
}
main.leaderboardMain__container .fixturesLeaderboard__container .MuiTableCell-root .fixtureContent .homeTeam,
main.leaderboardMain__container .fixturesLeaderboard__container .MuiTableCell-root .fixtureContent .awayTeam {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media screen and (max-width: 968px) {
  main.leaderboardMain__container .fixturesLeaderboard__container .MuiTableCell-root .fixtureContent .homeTeam,
main.leaderboardMain__container .fixturesLeaderboard__container .MuiTableCell-root .fixtureContent .awayTeam {
    gap: 5px;
  }
}
main.leaderboardMain__container .fixturesLeaderboard__container .MuiTableCell-root .fixtureContent img {
  height: 30px;
}
main.leaderboardMain__container .fixturesLeaderboard__container .MuiTableCell-root .userContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
main.leaderboardMain__container .fixturesLeaderboard__container .MuiTableCell-root .userContent img {
  width: 30px;
}
main.leaderboardMain__container .usersLeaderboard__container {
  padding: 20px;
  padding-bottom: 0;
  overflow-y: scroll;
  background: rgba(143, 143, 143, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(3.7px);
  margin-top: 56px;
}
@media screen and (max-width: 425px) {
  main.leaderboardMain__container .usersLeaderboard__container {
    width: 90%;
    margin: 1em auto;
  }
}
main.leaderboardMain__container .usersLeaderboard__container h2 {
  color: #fff;
  font-family: "Playfair Display", serif;
  margin-bottom: 10px;
}
@media (max-width: 968px) {
  main.leaderboardMain__container .usersLeaderboard__container {
    height: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1333333333);
  }
}
main.leaderboardMain__container .usersLeaderboard__container a {
  text-decoration: none;
}
main.leaderboardMain__container .usersLeaderboard__container .topThreeUsers {
  color: #fff;
}
main.leaderboardMain__container .usersLeaderboard__container .topThreeUsers .topUser {
  border-bottom: 0.5px solid rgba(171, 171, 171, 0.2);
  padding-bottom: 15px;
  margin-bottom: 15px;
  color: #fff;
}
main.leaderboardMain__container .usersLeaderboard__container .topThreeUsers .topUser img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  margin-bottom: 10px;
  cursor: pointer;
}
@media (max-width: 968px) {
  main.leaderboardMain__container .usersLeaderboard__container .topThreeUsers .topUser img {
    width: 100%;
    height: 100%;
  }
}
main.leaderboardMain__container .usersLeaderboard__container .topThreeUsers .topUser h4 {
  font-weight: 500;
}
@media screen and (max-width: 968px) {
  main.leaderboardMain__container .usersLeaderboard__container .topThreeUsers .topUser h4 {
    font-size: 20px;
  }
}
main.leaderboardMain__container .usersLeaderboard__container .topThreeUsers .topUser a {
  color: #6d6f71;
}
main.leaderboardMain__container .usersLeaderboard__container .topThreeUsers .topUser .gameDetails {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 14px;
}
@media (max-width: 968px) {
  main.leaderboardMain__container .usersLeaderboard__container .topThreeUsers .topUser .gameDetails {
    margin-top: 15px;
    font-size: 14px;
    justify-content: space-around;
    gap: 20px;
  }
}
main.leaderboardMain__container .usersLeaderboard__container .topThreeUsers .topUser .gameDetails p {
  font-weight: 500;
}
main.leaderboardMain__container .usersLeaderboard__container .topThreeUsers .top3User {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 15px;
  color: #fff;
}
@media (max-width: 968px) {
  main.leaderboardMain__container .usersLeaderboard__container .topThreeUsers .top3User {
    gap: 15px;
  }
}
main.leaderboardMain__container .usersLeaderboard__container .topThreeUsers .top3User img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
@media screen and (max-width: 968px) {
  main.leaderboardMain__container .usersLeaderboard__container .topThreeUsers .top3User img {
    width: 50px;
    height: 50px;
  }
}
main.leaderboardMain__container .usersLeaderboard__container .topThreeUsers .top3User h4 {
  font-weight: 500;
  font-size: 16px;
}
main.leaderboardMain__container .usersLeaderboard__container .topThreeUsers .top3User h4 a {
  color: rgba(255, 255, 255, 0.6);
}
main.leaderboardMain__container .usersLeaderboard__container .topThreeUsers .top3User .user__info {
  width: 100%;
}
main.leaderboardMain__container .usersLeaderboard__container .topThreeUsers .top3User .gameDetails {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 10px;
}
@media (max-width: 968px) {
  main.leaderboardMain__container {
    flex-direction: column-reverse;
    gap: 0;
    margin: 0 5vw;
  }
  main.leaderboardMain__container .fixturesLeaderboard__container {
    padding-left: 0;
  }
  main.leaderboardMain__container .usersLeaderboard__container {
    border-left: none;
    padding-left: 0;
    padding-right: 0;
  }
}

.MuiPagination-ul {
  margin: 1.5em 0 0;
}

.MuiButtonBase-root.MuiPaginationItem-root {
  border: 1px solid rgba(102, 102, 102, 0.5) !important;
  color: #fff;
}

.MuiPaginationItem-sizeMedium {
  color: rgba(159, 157, 157, 0.87) !important;
}

.MuiTableCell-root {
  color: #fff !important;
}
.MuiTableCell-root a {
  color: rgba(255, 255, 255, 0.855);
}

.MuiSkeleton-root {
  padding: 0.2em;
  background-color: rgba(203, 203, 203, 0.178) !important;
}/*# sourceMappingURL=style.css.map */