main.leaderboardMain__container {
  margin: 2em 2vw;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: flex-start;

  .fixturesLeaderboard__container {
    flex: 1;
    padding: 10px 0;

    h1 {
      margin-bottom: 20px;
      font-family: "Playfair Display", serif;
    }

    .leaderboardskeleton__container {
      .stack {
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 0.5em;

        .MuiSkeleton-root {
          padding: 0.2em;
          background-color: rgba(203, 203, 203, 0.11) !important;
        }
      }
    }

    h2 {
      color: #fff;
    }

    .MuiPaper-root {
      background: rgba(143, 143, 143, 0.08);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(3.7px);

      table {
        thead {
          tbody {
            tr {
              &:hover {
                background-color: none !important;
              }
              th {
                color: #fff !important;
              }
            }
          }
        }
      }
    }

    @media (max-width: 968px) {
      padding: 20px 0;
      overflow-x: scroll;
      max-width: 90vw;
    }

    .MuiTableRow-root {
      transition: 0.3s all ease-in-out;
      cursor: pointer;

      &:hover {
        background: rgba(82, 82, 82, 0.067);
      }
    }

    .MuiTableCell-root {
      padding: 12px 16px;

      @media (max-width: 968px) {
        padding: 5px 10px;

        &.gameInformation {
          display: none;
        }
      }

      a {
        text-decoration: none;
      }

      .fixtureContent {
        display: flex;
        align-items: center;
        gap: 10px;

        @media (max-width: 968px) {
          gap: 5px;
        }

        .homeTeam,
        .awayTeam {
          display: flex;
          align-items: center;
          gap: 8px;

          @media screen and (max-width: 968px) {
            gap: 5px;
          }
        }
        img {
          height: 30px;
        }
      }

      .userContent {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        img {
          width: 30px;
        }
      }
    }
  }

  .usersLeaderboard__container {
    padding: 20px;
    padding-bottom: 0;
    overflow-y: scroll;
    background: rgba(143, 143, 143, 0.08);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(3.7px);
    margin-top: 56px;
    @media screen and (max-width: 425px) {
      width: 90%;
      margin: 1em auto;
    }

    h2 {
      color: #fff;
      font-family: "Playfair Display", serif;
      margin-bottom: 10px;
    }

    @media (max-width: 968px) {
      height: auto;
      border-bottom: 1px solid #0002;
    }

    a {
      text-decoration: none;
    }

    .topThreeUsers {
      color: #fff;
      .topUser {
        border-bottom: 0.5px solid rgba(171, 171, 171, 0.2);
        padding-bottom: 15px;
        margin-bottom: 15px;

        color: #fff;

        img {
          width: 200px;
          height: 200px;
          display: block;
          margin: 0 auto;
          object-fit: cover;
          overflow: hidden;
          margin-bottom: 10px;
          cursor: pointer;

          @media (max-width: 968px) {
            width: 100%;
            height: 100%;
          }
        }

        h4 {
          font-weight: 500;

          @media screen and (max-width: 968px) {
            font-size: 20px;
          }
        }

        a {
          color: #6d6f71;
        }

        .gameDetails {
          margin-top: 10px;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          font-size: 14px;

          @media (max-width: 968px) {
            margin-top: 15px;
            font-size: 14px;
            justify-content: space-around;
            gap: 20px;
          }

          p {
            font-weight: 500;
          }
        }
      }

      .top3User {
        display: flex;
        align-items: flex-start;
        gap: 8px;
        margin-bottom: 15px;
        color: #fff;

        @media (max-width: 968px) {
          gap: 15px;
        }

        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 5px;

          @media screen and (max-width: 968px) {
            width: 50px;
            height: 50px;
          }
        }

        h4 {
          font-weight: 500;
          font-size: 16px;

          a {
            color: #fff9;
          }
        }

        .user__info{
          width: 100%;
        }

        .gameDetails {
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          margin-top: 10px;
        }
      }
    }
  }

  @media (max-width: 968px) {
    flex-direction: column-reverse;
    gap: 0;
    margin: 0 5vw;

    .fixturesLeaderboard__container {
      padding-left: 0;
    }

    .usersLeaderboard__container {
      border-left: none;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.MuiPagination-ul {
  li {
    button {
      color: #fff;
      background-color: rgba(75, 75, 75, 0.806);
      font-size: 1.2em;
    }
  }
}

.MuiTableCell-root {
  color: #fff !important;

  a {
    color: rgba(255, 255, 255, 0.855);
  }
}

.MuiSkeleton-root {
  padding: 0.2em;
  background-color: rgba(203, 203, 203, 0.178) !important;
}
