main.leaderboardMain__container {
  margin: 10px 0;
  display: flex;
  align-items: flex-start;
  gap: 20px;

  h2 {
    margin-bottom: 20px;
  }

  .fixturesLeaderboard__container {
    flex: 1;
    padding: 10px 0;
    padding-left: 2vw;

    .MuiTableRow-root {
      transition: 0.3s all ease-in-out;
      cursor: pointer;

      &:hover {
        background: rgba(82, 82, 82, 0.067);
      }
    }

    .MuiTableCell-root {
      padding: 12px 16px;

      a {
        text-decoration: none;
      }

      .fixtureContent {
        display: flex;
        align-items: center;
        gap: 10px;

        .homeTeam,
        .awayTeam {
          display: flex;
          align-items: center;
          gap: 8px;
        }
        img {
          height: 30px;
        }
      }

      .userContent {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        img {
          width: 30px;
        }
      }
    }
  }

  .usersLeaderboard__container {
    border-left: 0.5px solid #0002;
    padding: 10px 0;
    padding-left: 20px;
    padding-right: 2vw;
    height: 79vh;
    overflow-y: scroll;

    a {
      text-decoration: none;
    }

    .topThreeUsers {
      .topUser {
        border-bottom: 0.5px solid #0003;
        padding-bottom: 15px;
        margin-bottom: 15px;

        img {
          width: 13vw;
          height: 13vw;
          object-fit: cover;
          overflow: hidden;
          margin-bottom: 10px;
          cursor: pointer;
        }

        h4 {
          font-weight: 500;
        }

        a {
          color: #6d6f71;
        }

        .gameDetails {
          margin-top: 10px;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          font-size: 14px;

          p {
            font-weight: 500;
          }
        }
      }

      .top3User {
        display: flex;
        align-items: flex-start;
        gap: 8px;
        margin-bottom: 15px;

        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 5px;
        }

        h2 {
          margin-bottom: 3px;
        }

        h4 {
          font-weight: 500;
          font-size: 16px;
        }

        .gameDetails {
          display: flex;
          justify-content: space-between;
          align-items: align-start;
          font-size: 14px;
          margin-top: 5px;
        }
      }
    }
  }
}
