main.leaderboardMain__container {
  margin: 10px 0;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;

  h2 {
    margin-bottom: 20px;
  }

  .fixturesLeaderboard__container {
    flex: 1;
    padding: 10px 0;
    padding-left: 2vw;

    h2 {
      color: #fff;
    }

    .MuiPaper-root {
      // color: rgba(0, 0, 0, 0.87);
      color: #fff;
      // background-color: transparent;
    }

    @media (max-width: 968px) {
      padding: 20px 0;
      overflow-x: scroll;
      max-width: 90vw;
    }

    .MuiTableRow-root {
      transition: 0.3s all ease-in-out;
      cursor: pointer;


      &:hover {
        background: rgba(82, 82, 82, 0.067);
      }
    }

    .MuiTableCell-root {
      padding: 12px 16px;

      @media (max-width: 968px) {
        padding: 5px 10px;

        &.gameInformation {
          display: none;
        }
      }

      a {
        text-decoration: none;
      }

      .fixtureContent {
        display: flex;
        align-items: center;
        gap: 10px;

        @media (max-width: 968px) {
          gap: 5px;
        }

        .homeTeam,
        .awayTeam {
          display: flex;
          align-items: center;
          gap: 8px;

          @media screen and (max-width: 968px) {
            gap: 5px;
          }
        }
        img {
          height: 30px;
        }
      }

      .userContent {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        img {
          width: 30px;
        }
      }
    }
  }

  .usersLeaderboard__container {
    border-left: 0.5px solid #0002;
    padding: 10px 0;
    padding-left: 20px;
    padding-right: 2vw;
    height: 79vh;
    overflow-y: scroll;

    h2 {
      color: #fff;
    }

    @media (max-width: 968px) {
      height: auto;
      border-bottom: 1px solid #0002;
    }

    a {
      text-decoration: none;
    }

    .topThreeUsers {
      color: #fff;
      .topUser {
        border-bottom: 0.5px solid #0003;
        padding-bottom: 15px;
        margin-bottom: 15px;

        color: #fff;

        img {
          width: 13vw;
          height: 13vw;
          object-fit: cover;
          overflow: hidden;
          margin-bottom: 10px;
          cursor: pointer;

          @media (max-width: 968px) {
            width: 100%;
            height: 100%;
          }
        }

        h4 {
          font-weight: 500;
          
          @media screen and (max-width: 968px) {
            font-size: 20px;
          }
        }
        
        a {
          color: #6d6f71;
        }

        .gameDetails {
          margin-top: 10px;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          font-size: 14px;

          @media (max-width: 968px) {
            margin-top: 15px;
            font-size: 14px;
            justify-content: left;
            gap: 20px;
          }

          p {
            font-weight: 500;
          }
        }
      }

      .top3User {
        display: flex;
        align-items: flex-start;
        gap: 8px;
        margin-bottom: 15px;
        color: #fff;

        @media (max-width: 968px) {
          gap: 15px;
        }

        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 5px;

          @media screen and (max-width: 968px) {
            width: 50px;
            height: 50px;
          }
        }

        h2 {
          margin-bottom: 3px;
          // color: #fff;
        }

        h4 {
          font-weight: 500;
          font-size: 16px;

          a {
            color: #fff9;
          }
        }

        .gameDetails {
          display: flex;
          justify-content: space-between;
          align-items: align-start;
          font-size: 14px;
          margin-top: 5px;
        }
      }
    }
  }

  @media (max-width: 968px) {
    flex-direction: column-reverse;
    gap: 0;
    margin: 0 5vw;

    .fixturesLeaderboard__container {
      padding-left: 0;
    }

    .usersLeaderboard__container {
      border-left: none;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.MuiPagination-ul {
  li {
    button {
      color: #fff;
      background-color: #000;
      font-size: 1.2em;
    }
  }
}
