.notFound__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 50px 0;

  img {
    width: 30vw;
    display: block;
    margin: 0 auto;

    @media (max-width: 576px) {
      width: 85vw;
    }
  }

  .MuiButton-root {
    margin-top: 25px;
    background: #fff;
    color: #000!important;
    gap: 5px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 20px;

    &:hover{
        background: #fff;
        color: #000!important;
    }
  }
}
