.challenges__Container {
  // width: 90%;
  // margin: 0 auto;
  .filters {
    display: flex;
    justify-content: center;
    padding: 1em;
    display: flex;
    justify-content: center;
    padding: 2em 0;
    gap: 2px;
    margin: auto;
    button {
      padding: 0.5em;
      border: none;
      outline: none;
      color: white;
      font-size: 17px;
      background: #1a1d20;
      cursor: pointer;

      @media screen and (min-width: 426px) {
        padding: 0.8em;
      }

      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
  .challenges__AllChallenges {
    width: 90%;
    margin: 0 auto 2em;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .cardContainer {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      gap: 20px;
      .card {
        padding: 10px;
        background-color: #161616;
        cursor: pointer;
        box-sizing: 1px -1px 13px -9px rgb(255 255 255 / 91%);
        .cardHeader {
          display: flex;
          justify-content: space-between;
          border-bottom: 0.4px solid #f6dad85f;
          padding: 10px 0;
          margin: 5px 0;
        }
        .duo {
          color: #0ddd97;
          padding: 2px 15px;
          border-radius: 5px;
          max-width: fit-content;
          text-transform: capitalize;
        }
        .trio {
          color: #e7f82e;
          padding: 2px 15px;
          border-radius: 5px;
          max-width: fit-content;
          text-transform: capitalize;
        }
        .fixture {
          display: flex;
          gap: 5px;
          align-items: center;
          justify-content: center;
          p {
            display: flex;
            align-items: center;
            gap: 5px;
          }
          img {
            width: 1.5em;
          }
        }
        .predictedBy {
          display: flex;
          align-items: center;
          gap: 5px;
          margin-bottom: 1em;
          img {
            width: 2.5em;
          }
        }
        .stat {
          display: flex;
          justify-content: space-between;
          padding: 1em;
          .amount {
            color: #0ddd97;
          }
          .filled {
            color: crimson;
          }
        }
        .MuiSkeleton-root {
          background-color: rgb(0 0 0 / 32%) !important;
        }
      }

        .card__header {
          display: flex;
          justify-content: space-between;
        }
        .card_image {
          display: flex;
          align-items: center;
          justify-content: space-between;

          div {
            display: flex;
            align-items: center;
            gap: 5px;
          }

      }
    }
  }
}
