.challenges__Container .filters {
  display: flex;
  justify-content: center;
  padding: 1em;
  display: flex;
  justify-content: center;
  padding: 2em 0;
  gap: 2px;
  margin: auto;
}
.challenges__Container .filters button {
  padding: 0.5em;
  border: none;
  outline: none;
  color: white;
  font-size: 17px;
  background: #1a1d20;
  cursor: pointer;
}
@media screen and (min-width: 426px) {
  .challenges__Container .filters button {
    padding: 0.8em;
  }
}
.challenges__Container .filters button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.challenges__Container .filters button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.challenges__Container .challenges__AllChallenges {
  width: 90%;
  margin: 0 auto 2em;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.challenges__Container .challenges__AllChallenges .cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}
.challenges__Container .challenges__AllChallenges .cardContainer .card {
  padding: 10px;
  background-color: #161616;
  cursor: pointer;
  box-sizing: 1px -1px 13px -9px rgba(255, 255, 255, 0.91);
}
.challenges__Container .challenges__AllChallenges .cardContainer .card .cardHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.4px solid rgba(246, 218, 216, 0.3725490196);
  padding: 10px 0;
  margin: 5px 0;
}
.challenges__Container .challenges__AllChallenges .cardContainer .card .duo {
  color: #0ddd97;
  padding: 2px 15px;
  border-radius: 5px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-transform: capitalize;
}
.challenges__Container .challenges__AllChallenges .cardContainer .card .trio {
  color: #e7f82e;
  padding: 2px 15px;
  border-radius: 5px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-transform: capitalize;
}
.challenges__Container .challenges__AllChallenges .cardContainer .card .fixture {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.challenges__Container .challenges__AllChallenges .cardContainer .card .fixture p {
  display: flex;
  align-items: center;
  gap: 5px;
}
.challenges__Container .challenges__AllChallenges .cardContainer .card .fixture img {
  width: 1.5em;
}
.challenges__Container .challenges__AllChallenges .cardContainer .card .predictedBy {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 1em;
}
.challenges__Container .challenges__AllChallenges .cardContainer .card .predictedBy img {
  width: 2.5em;
}
.challenges__Container .challenges__AllChallenges .cardContainer .card .stat {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.challenges__Container .challenges__AllChallenges .cardContainer .card .stat .amount {
  color: #0ddd97;
}
.challenges__Container .challenges__AllChallenges .cardContainer .card .stat .filled {
  color: crimson;
}
.challenges__Container .challenges__AllChallenges .cardContainer .card .MuiSkeleton-root {
  background-color: rgba(0, 0, 0, 0.32) !important;
}
.challenges__Container .challenges__AllChallenges .cardContainer .card__header {
  display: flex;
  justify-content: space-between;
}
.challenges__Container .challenges__AllChallenges .cardContainer .card_image {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.challenges__Container .challenges__AllChallenges .cardContainer .card_image div {
  display: flex;
  align-items: center;
  gap: 5px;
}/*# sourceMappingURL=style.css.map */