.transaction__wrapper {
  color: #fff;

  .wrapper {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(78 78 78 / 18%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 0.8em;

    @media screen and (min-width: 426px) {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      gap: 20px;
    }

    .options__container {
      display: flex;
      flex-direction: column;
      gap: 1.5em;
      .profile {
        display: flex;
        align-items: center;
        @media screen and (max-width: 425px) {
          border-bottom: 1px solid rgb(115, 115, 115);
          padding-bottom: 1em;
        }
        img {
          height: 100px;
          width: 100px;
        }
      }
      .options {
        display: flex;
        flex-direction: column;
        /* gap: 4vh; */
        gap: 20px;
        .links {
          display: flex;
          align-items: center;
          width: fit-content;
          /* color: #000; */
          gap: 5px;
          cursor: pointer;
          transition: 0.5s ease;
          a {
            text-decoration: none;
            color: black;
            margin: 3px 7px;
          }
          &:hover {
            color: rgb(34, 186, 34);
          }
        }
      }
    }

    .transaction__container {
      display: flex;
      flex-direction: column;
      margin-top: 1em;
      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
          padding: 0.5em 0;
        }

        @media screen and (max-width: 425px) {
          flex-direction: column;
        }
      }
      .button {
        display: flex;
        align-items: center;
        gap: 5px;
        i {
          font-size: 1.6rem;
        }
        a {
          text-decoration: none;
          color: black;
        }
        .search {
          display: flex;
          align-items: center;
          padding: 0.4em;
          gap: 2px;
          background: #f8f8f8;
          border-radius: 5px;
          border: 1px solid #bbc4cf;
          input {
            font-size: 1rem;
            opacity: 0.6;
            padding: 5px 3px;
            border: none;
            outline: none;
            background: transparent;
          }
          i {
            padding-left: 0.3em;
            border-left: 1px solid #bbc4cf;
            color: #bbc4cf;
            cursor: pointer;
          }
        }
      }
      .links {
        display: flex;
        align-items: center;
        gap: 2vw;
        padding: 1em 0;
        a {
          text-decoration: none;
          color: black;
          font-weight: 600;
        }
      }
      .statement {
        .latest {
          display: flex;
          flex-direction: column;
          gap: 2.8vh;
          margin: 1em 0;
          .details {
            @media screen and (max-width: 425px) {
              display: flex;
              flex-direction: column;
              gap: 10px;
              align-items: flex-start;
            }
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid rgb(115, 115, 115);
            padding-bottom: 20px;

            .right {
              display: flex;
              gap: 10px;
              align-items: center;
            }

            .left {
              display: flex;
              flex-direction: column;
              gap: 0.5vh;
              // align-items: center;
              // justify-content: center;

              .left_top {
                display: flex;
                align-items: center;
                gap: 1vw;
              }
              .left_buttom {
                padding-left: 25px;
                p {
                  opacity: 0.5;
                }
              }
            }
            .success {
              color: rgb(34, 186, 34);
            }
          }
        }
      }
    }
    .balance__container {
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 425px) {
        justify-content: center;
        width: 100%;
      }
      .top {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        @media screen and (min-width: 426px) {
          align-items: center;
        }

        @media screen and (max-width: 425px) {
          width: 100%;
          padding: 1em;
        }
        img {
          height: 100px;
          width: 100px;
        }
        p {
          opacity: 0.4;
        }
      }
      .invoice {
        display: flex;
        flex-direction: column;
        gap: 1vh;
        .balance {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .amount {
            display: flex;
            gap: 8px;
          }
        }
      }
      .chart {
        img {
          height: 200px;
          width: 200px;
        }
      }
    }
  }
}

.MuiBox-root {
  padding: 0 20px !important;
}
