.transaction__wrapper {
  color: #fff;
}
.transaction__wrapper .wrapper {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(78, 78, 78, 0.18);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 0.8em;
}
@media screen and (min-width: 426px) {
  .transaction__wrapper .wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;
  }
}
.transaction__wrapper .wrapper .options__container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.transaction__wrapper .wrapper .options__container .profile {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 425px) {
  .transaction__wrapper .wrapper .options__container .profile {
    border-bottom: 1px solid rgb(115, 115, 115);
    padding-bottom: 1em;
  }
}
.transaction__wrapper .wrapper .options__container .profile img {
  height: 100px;
  width: 100px;
}
.transaction__wrapper .wrapper .options__container .options {
  display: flex;
  flex-direction: column;
  /* gap: 4vh; */
  gap: 20px;
}
.transaction__wrapper .wrapper .options__container .options .links {
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  /* color: #000; */
  gap: 5px;
  cursor: pointer;
  transition: 0.5s ease;
}
.transaction__wrapper .wrapper .options__container .options .links a {
  text-decoration: none;
  color: black;
  margin: 3px 7px;
}
.transaction__wrapper .wrapper .options__container .options .links:hover {
  color: rgb(34, 186, 34);
}
.transaction__wrapper .wrapper .transaction__container {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
.transaction__wrapper .wrapper .transaction__container .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.transaction__wrapper .wrapper .transaction__container .top h1 {
  padding: 0.5em 0;
}
@media screen and (max-width: 425px) {
  .transaction__wrapper .wrapper .transaction__container .top {
    flex-direction: column;
  }
}
.transaction__wrapper .wrapper .transaction__container .button {
  display: flex;
  align-items: center;
  gap: 5px;
}
.transaction__wrapper .wrapper .transaction__container .button i {
  font-size: 1.6rem;
}
.transaction__wrapper .wrapper .transaction__container .button a {
  text-decoration: none;
  color: black;
}
.transaction__wrapper .wrapper .transaction__container .button .search {
  display: flex;
  align-items: center;
  padding: 0.4em;
  gap: 2px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #bbc4cf;
}
.transaction__wrapper .wrapper .transaction__container .button .search input {
  font-size: 1rem;
  opacity: 0.6;
  padding: 5px 3px;
  border: none;
  outline: none;
  background: transparent;
}
.transaction__wrapper .wrapper .transaction__container .button .search i {
  padding-left: 0.3em;
  border-left: 1px solid #bbc4cf;
  color: #bbc4cf;
  cursor: pointer;
}
.transaction__wrapper .wrapper .transaction__container .links {
  display: flex;
  align-items: center;
  gap: 2vw;
  padding: 1em 0;
}
.transaction__wrapper .wrapper .transaction__container .links a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.transaction__wrapper .wrapper .transaction__container .statement .latest {
  display: flex;
  flex-direction: column;
  gap: 2.8vh;
  margin: 1em 0;
}
.transaction__wrapper .wrapper .transaction__container .statement .latest .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(115, 115, 115);
  padding-bottom: 20px;
}
@media screen and (max-width: 425px) {
  .transaction__wrapper .wrapper .transaction__container .statement .latest .details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
}
.transaction__wrapper .wrapper .transaction__container .statement .latest .details .right {
  display: flex;
  gap: 10px;
  align-items: center;
}
.transaction__wrapper .wrapper .transaction__container .statement .latest .details .left {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}
.transaction__wrapper .wrapper .transaction__container .statement .latest .details .left .left_top {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.transaction__wrapper .wrapper .transaction__container .statement .latest .details .left .left_buttom {
  padding-left: 25px;
}
.transaction__wrapper .wrapper .transaction__container .statement .latest .details .left .left_buttom p {
  opacity: 0.5;
}
.transaction__wrapper .wrapper .transaction__container .statement .latest .details .success {
  color: rgb(34, 186, 34);
}
.transaction__wrapper .wrapper .balance__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 425px) {
  .transaction__wrapper .wrapper .balance__container {
    justify-content: center;
    width: 100%;
  }
}
.transaction__wrapper .wrapper .balance__container .top {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
@media screen and (min-width: 426px) {
  .transaction__wrapper .wrapper .balance__container .top {
    align-items: center;
  }
}
@media screen and (max-width: 425px) {
  .transaction__wrapper .wrapper .balance__container .top {
    width: 100%;
    padding: 1em;
  }
}
.transaction__wrapper .wrapper .balance__container .top img {
  height: 100px;
  width: 100px;
}
.transaction__wrapper .wrapper .balance__container .top p {
  opacity: 0.4;
}
.transaction__wrapper .wrapper .balance__container .invoice {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.transaction__wrapper .wrapper .balance__container .invoice .balance {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.transaction__wrapper .wrapper .balance__container .invoice .balance .amount {
  display: flex;
  gap: 8px;
}
.transaction__wrapper .wrapper .balance__container .chart img {
  height: 200px;
  width: 200px;
}

.MuiBox-root {
  padding: 0 20px !important;
}/*# sourceMappingURL=style.css.map */