.hero__container {
  color: #fff;
  background: url("https://ik.imagekit.io/domsan/Screenshot_from_2023-01-09_18-17-59_3qcF77BKy.png?ik-sdk-version=javascript-1.4.3&updatedAt=1673267593678") no-repeat;
  background-size: cover;
  background-position: center top;
  box-shadow: inset 0 0 0 2000px rgba(63, 2, 186, 0.635);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 1;
  margin: 0 1.5vw 0 1.5vw;
  border-radius: 0 0 25px 25px;
  padding: 0 1.5vw;
  overflow: hidden;
}
.hero__container .divider {
  margin-bottom: 60px;
}
.hero__container .divider.last {
  margin-bottom: 0;
  margin-top: 150px;
}
.hero__container p {
  font-size: 19px;
}
.hero__container .heroContent__container {
  max-width: 27.5%;
}
.hero__container .heroContent__container h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.2;
  font-family: "Playfair Display", serif;
}
.hero__container .heroContent__container .heroDivider {
  width: 2px;
  height: 80px;
  margin: 20px 0;
  margin-left: 40px;
  background: #fed330;
  position: relative;
}
.hero__container .heroContent__container .heroDivider .divider__line {
  width: 30px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fed330;
  border-radius: 50%;
}
.hero__container .heroContent__container .heroParticipants__container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.hero__container .heroContent__container .heroParticipants__container .userImages img {
  height: 40px;
  width: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  background: #fff;
  padding: 2px;
  cursor: pointer;
}
.hero__container .heroContent__container .heroParticipants__container p span {
  font-size: 22px;
  font-weight: 500;
}
.hero__container .heroContent__container .description {
  margin: 30px 0;
  line-height: 1.5;
  margin-left: 40px;
}
.hero__container .heroGallery__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero__container .heroGallery__container img {
  width: 20vw;
  height: 48vh;
  border-radius: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 5px solid #fff;
  box-shadow: 1px -8px 15px -1px rgba(255, 255, 255, 0.51);
  -webkit-box-shadow: 1px -8px 15px -1px rgba(255, 255, 255, 0.51);
  -moz-box-shadow: 1px -8px 15px -1px rgba(255, 255, 255, 0.51);
  cursor: pointer;
}
.hero__container .heroGallery__container .absoluteImages {
  position: absolute;
  bottom: -9vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 30px;
}
.hero__container .heroGallery__container .absoluteImages img {
  width: 14vw;
  border-radius: 190px;
  height: 35vh;
}
.hero__container .heroGallery__container .absoluteImages img:last-child {
  height: 28vh;
}
.hero__container .heroAdditionalInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.hero__container .heroAdditionalInfo .description {
  max-width: 25vw;
  line-height: 1.5;
}
.hero__container .heroAdditionalInfo img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s all ease-in-out;
}
.hero__container .heroAdditionalInfo img:hover {
  box-shadow: 1px -8px 15px -1px rgba(255, 255, 255, 0.51);
  -webkit-box-shadow: 1px -8px 15px -1px rgba(255, 255, 255, 0.51);
  -moz-box-shadow: 1px -8px 15px -1px rgba(255, 255, 255, 0.51);
  transform: scale3d(1.02, 1.02, 1.02);
}
.hero__container .heroAdditionalInfo img.rotatingImage {
  -webkit-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
.hero__container .heroAdditionalInfo img.rotatingImage:hover {
  transform: initial;
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}
.hero__container .heroAdditionalInfo .addtionalInfoContent {
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero__container .heroAdditionalInfo .addtionalInfoContent div:first-child {
  box-shadow: 1px -8px 15px -1px rgba(255, 255, 255, 0.51);
  -webkit-box-shadow: 1px -8px 15px -1px rgba(255, 255, 255, 0.51);
  -moz-box-shadow: 1px -8px 15px -1px rgba(255, 255, 255, 0.51);
  gap: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.4549019608);
  padding: 10px;
  border-radius: 150px;
}
.hero__container .heroAdditionalInfo .addtionalInfoContent div:first-child p {
  font-size: 16px;
}
.hero__container .heroAdditionalInfo .addtionalInfoContent div:first-child div {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.686);
  padding: 15px 25px;
  border-radius: 0 75px 105px 105px;
  height: 130px;
}
.hero__container .heroAdditionalInfo .addtionalInfoContent h1 {
  font-size: 1.5em;
  line-height: 1;
}
.hero__container .heroAdditionalInfo .addtionalInfoContent h1 span:last-child {
  font-weight: 500;
  font-size: 18px;
}/*# sourceMappingURL=style.css.map */