.hero__container {
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 1025px) {
  .hero__container {
    display: flex;
    padding: 60px 5vw;
    gap: 40px;
  }
}
.hero__container .blob1 {
  position: absolute;
  right: -150px;
  top: -50px;
  width: 400px;
  max-width: 400px;
  height: 400px;
  background: linear-gradient(rgba(13, 235, 198, 0.4117647059), rgba(45, 171, 222, 0.5882352941));
  mix-blend-mode: color-dodge;
  opacity: 0.8;
  border-radius: 24% 76% 35% 65%/27% 36% 64% 73%;
  z-index: 0;
  -webkit-animation: breathe 3.5s ease infinite alternate;
          animation: breathe 3.5s ease infinite alternate;
  filter: blur(80px);
}
.hero__container .blob {
  position: absolute;
  bottom: -40px;
  left: -200px;
  width: 400px;
  max-width: 400px;
  height: 400px;
  background: linear-gradient(rgba(13, 235, 198, 0.4117647059), rgba(45, 171, 222, 0.5882352941));
  mix-blend-mode: color-dodge;
  opacity: 0.8;
  border-radius: 24% 76% 35% 65%/27% 36% 64% 73%;
  z-index: 0;
  -webkit-animation: breathe 3.5s ease infinite alternate;
          animation: breathe 3.5s ease infinite alternate;
  filter: blur(80px);
}
@-webkit-keyframes breathe {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
@keyframes breathe {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
.hero__container .heroSection {
  margin: 0 auto;
}
@media screen and (min-width: 769px) {
  .hero__container .heroSection {
    width: 70%;
  }
}
.hero__container .heroSection h1,
.hero__container .heroSection h3 {
  font-weight: 800;
  background: linear-gradient(#0debc6, #2dabde);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.hero__container .heroSection h1 {
  font-size: 2.8em;
  margin-top: 1em;
}
@media screen and (min-width: 769px) {
  .hero__container .heroSection h1 {
    font-size: 5rem;
  }
}
@media screen and (min-width: 1025px) {
  .hero__container .heroSection h1 {
    font-size: 6em;
    margin-top: 0;
  }
}
.hero__container .heroSection h3 {
  padding: 0.5em 0;
  font-size: 1.8em;
}
@media screen and (min-width: 769px) {
  .hero__container .heroSection h3 {
    font-size: 3em;
  }
}
.hero__container .heroSection .buttons {
  margin: 1em 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.hero__container .heroSection .buttons button {
  cursor: pointer;
  border: none;
  padding: 0.9em 1em;
  font-size: 1.1em;
  border-radius: 16px;
  transition: 0.3s ease;
}
.hero__container .heroSection .buttons button:nth-child(1) {
  background-color: black;
  color: #fff;
}
.hero__container .heroSection .buttons button:active {
  transform: scale(0.95);
}
.hero__container .heroSection .img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 2em;
}
.hero__container .heroSection .img_container img {
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 1em;
}
.hero__container .card__container {
  width: 90%;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  color: rgb(0, 0, 0);
}
@media screen and (min-width: 769px) {
  .hero__container .card__container {
    flex-direction: row;
  }
}
.hero__container .card__container .card2 {
  border-radius: 5px;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.141);
  gap: 10px;
  flex: 1;
}
.hero__container .card__container .card2 img {
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}
.hero__container .card__container .card2 p {
  line-height: 1.3;
  font-size: 1.4em;
  text-align: center;
}
.hero__container .card__container .card3 {
  border-radius: 5px;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.141);
  gap: 10px;
  flex: 1;
}
.hero__container .card__container .card3 p {
  text-align: center;
}
.hero__container .card__container .card3 p {
  line-height: 1.3;
  font-size: 1.4em;
}
.hero__container .card__container .card3 img {
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}
.hero__container .heroIntroduction {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(78, 78, 78, 0.18);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  gap: 35px;
  padding: 20px 45px;
}
@media screen and (max-width: 1025px) {
  .hero__container .heroIntroduction {
    margin: 2em auto;
  }
}
@media screen and (min-width: 769px) {
  .hero__container .heroIntroduction {
    display: flex;
    justify-content: space-between;
  }
}
.hero__container .heroIntroduction .heroContent {
  color: #fff;
}
@media screen and (min-width: 426px) {
  .hero__container .heroIntroduction .heroContent {
    display: flex;
    flex-direction: column;
  }
}
.hero__container .heroIntroduction .heroContent .actions {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
}
.hero__container .heroIntroduction .heroContent .actions a,
.hero__container .heroIntroduction .heroContent .actions .beginButton {
  color: #27ae60;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
}
.hero__container .heroIntroduction .heroContent .actions a:hover,
.hero__container .heroIntroduction .heroContent .actions .beginButton:hover {
  text-decoration: underline;
}
.hero__container .heroIntroduction .heroContent h1 {
  font-size: 3em;
  text-align: center;
  font-weight: 800;
  background: linear-gradient(#0debc6, #27ae60);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 15px;
}
@media screen and (min-width: 1441px) {
  .hero__container .heroIntroduction .heroContent h1 {
    font-size: 4em;
    text-align: left;
  }
}
.hero__container .heroIntroduction .heroContent .card {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  -webkit-animation: fadeIn 3s ease forwards;
          animation: fadeIn 3s ease forwards;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hero__container .heroIntroduction .heroContent .card p {
  font-size: 18px;
  line-height: 1.7;
}
.hero__container .heroIntroduction .heroContent .card p:nth-child(1) {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.7;
}
.hero__container .heroIntroduction .heroContent .card p:last-child {
  color: rgba(255, 255, 255, 0.6);
  font-style: italic;
}
.hero__container .heroIntroduction .heroContent .card .introduction {
  line-height: 1.4;
}
.hero__container .heroIntroduction .heroContent .card .introduction span {
  color: rgba(241, 196, 15, 0.8392156863);
  font-weight: 500;
}
.hero__container .heroIntroduction .heroContent .card h2 {
  font-size: 2.4em;
  font-weight: 500;
}
.hero__container .heroIntroduction .heroImage {
  background: none;
  position: relative;
  margin: 1em 0;
}
@media screen and (min-width: 426px) {
  .hero__container .heroIntroduction .heroImage {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 769px) and (max-width: 1025px) {
  .hero__container .heroIntroduction .heroImage {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.hero__container .heroIntroduction .heroImage img {
  width: 350px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}
.hero__container .hero {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(78, 78, 78, 0.18);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(3.7px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 2em 2em;
}
@media screen and (max-width: 1025px) {
  .hero__container .hero {
    width: 90%;
    margin: 2em auto;
  }
}
.hero__container .hero .pptt {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  border-radius: 16px;
  transition: 0.3s ease;
  cursor: pointer;
}
@media screen and (min-width: 1441px) {
  .hero__container .hero .pptt {
    width: 400px;
  }
}
.hero__container .hero .pptt img {
  width: 100%;
  border-radius: 15px;
  -o-object-fit: contain;
     object-fit: contain;
}
.hero__container .hero .pptt p {
  color: #fff;
  line-height: 1.4;
  font-size: 16px;
}
.hero__container .hero .pptt p span {
  color: rgba(241, 196, 15, 0.8392156863);
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */