@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap");
.hero__container {
  color: #fff;
  background: url("https://ik.imagekit.io/domsan/Screenshot_from_2023-01-09_18-17-59_3qcF77BKy.png?ik-sdk-version=javascript-1.4.3&updatedAt=1673267593678")
    no-repeat;
  box-shadow: inset 0 0 0 2000px rgba(63, 2, 186, 0.635);
  display: flex;
  padding: 60px 2vw;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 1;

  .heroContent__container {
    max-width: 35vw;
    h1 {
      font-size: 4.5em;
      font-weight: 700;
      margin-bottom: 1rem;
      line-height: 1.2;
      font-family: "Playfair Display", serif;
    }

    .heroDivider {
      width: 2px;
      height: 80px;
      margin: 20px 0;
      margin-left: 40px;
      background: #fed330;
      position: relative;

      .divider__line {
        width: 30px;
        height: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fed330;
        border-radius: 50%;
      }
    }

    .heroParticipants__container {
      display: flex;
      align-items: flex-start;
      gap: 10px;

      .userImages {
        canvas {
          border-radius: 50%;
          background: #fff;
          padding: 2px;
        }
      }

      p {
        span {
          font-size: 22px;
          font-weight: 500;
        }
      }
    }

    .description {
      margin: 30px 0;
      line-height: 1.5;
      margin-left: 40px;
    }
  }

  .heroGallery__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
      width: 18vw;
      height: 45vh;
      border-radius: 200px;
      object-fit: cover;
      border: 5px solid #fff;
      box-shadow: 1px -8px 15px -1px rgba(255, 255, 255, 0.51);
      -webkit-box-shadow: 1px -8px 15px -1px rgba(255, 255, 255, 0.51);
      -moz-box-shadow: 1px -8px 15px -1px rgba(255, 255, 255, 0.51);
    }

    .absoluteImages {
      position: absolute;
      bottom: -5vh;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      gap: 30px;

      img {
        width: 11vw;
        border-radius: 190px;
        height: 30vh;
      }

      img:last-child {
        height: 23vh;
      }
    }
  }

  .heroAdditionalInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .description {
      max-width: 25vw;
      line-height: 1.5;
    }

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }

    .addtionalInfoContent {
      display: flex;
      align-items: center;
      gap: 20px;

      div:first-child {
        box-shadow: 1px -8px 15px -1px rgba(255, 255, 255, 0.51);
        -webkit-box-shadow: 1px -8px 15px -1px rgba(255, 255, 255, 0.51);
        -moz-box-shadow: 1px -8px 15px -1px rgba(255, 255, 255, 0.51);
        width: 180px;
        height: 33vh;
        gap: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        background: #ffffff74;
        padding: 10px;
        border-radius: 100px;

        div {
          display: flex;
          flex-direction: column;
          background: rgba(0, 0, 0, 0.686);
          padding: 15px;
          font-size: 14px;
          border-radius: 0 75px 75px 75px;
          height: 150px;
        }
      }

      h1 {
        font-size: 1.5em;
        line-height: 1;

        span:last-child {
          font-weight: 500;
          font-size: 18px;
        }
      }
    }
  }
}
