.hero__container {
  overflow: hidden;
  position: relative;

  @media screen and (min-width: 1025px) {
    display: flex;
    padding: 60px 5vw;
    gap: 40px;
  }

  .blob1 {
    position: absolute;
    right: -150px;
    top: -50px;
    width: 400px;
    max-width: 400px;
    height: 400px;
    background: linear-gradient(#0debc669, #2dabde96);
    mix-blend-mode: color-dodge;
    opacity: 0.8;
    border-radius: 24% 76% 35% 65%/ 27% 36% 64% 73%;
    z-index: 0;
    animation: breathe 3.5s ease infinite alternate;
    filter: blur(80px);
  }

  .blob {
    position: absolute;
    bottom: -40px;
    left: -200px;
    width: 400px;
    max-width: 400px;
    height: 400px;
    background: linear-gradient(#0debc669, #2dabde96);
    mix-blend-mode: color-dodge;
    opacity: 0.8;
    border-radius: 24% 76% 35% 65%/ 27% 36% 64% 73%;
    z-index: 0;
    animation: breathe 3.5s ease infinite alternate;
    filter: blur(80px);
    @keyframes breathe {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.05);
      }
    }
  }

  .heroIntroduction {
    @media screen and (max-width: 1025px) {
      margin: 2em auto;
    }
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(78, 78, 78, 0.18);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    gap: 35px;
    padding: 20px 45px;

    @media screen and (min-width: 769px) {
      display: flex;
      justify-content: space-between;
    }
    .heroContent {
      color: #fff;

      @media screen and (min-width: 426px) {
        display: flex;
        flex-direction: column;
      }

      .actions {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 15px;

        a,
        .beginButton {
          color: #27ae60;
          cursor: pointer;
          text-decoration: none;
          font-size: 20px;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      h1 {
        font-size: 3em;
        text-align: center;
        font-weight: 800;
        background: linear-gradient(#0debc6, #27ae60);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 15px;

        @media screen and (min-width: 1441px) {
          font-size: 4em;
          text-align: left;
        }
      }
      .card {
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        animation: fadeIn 3s ease forwards;

        @keyframes fadeIn {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }

        p {
          &:nth-child(1) {
            font-size: 18px;
            color: rgba(255, 255, 255, 0.9);
            line-height: 1.7;
          }

          &:last-child {
            color: #fff9;
            font-style: italic;
          }
          font-size: 18px;
          line-height: 1.7;
        }

        .introduction {
          line-height: 1.4;

          span {
            color: #f1c40fd6;
            font-weight: 500;
          }
        }
        h2 {
          font-size: 2.4em;
          font-weight: 500;
        }
      }
    }
    .heroImage {
      background: none;
      position: relative;
      margin: 1em 0;

      @media screen and (min-width: 426px) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      @media screen and (min-width: 769px) and (max-width: 1025px) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img {
        width: 350px;
        object-fit: contain;
        border-radius: 10px;
      }
    }
  }
  .hero {
    // width: 500px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(78, 78, 78, 0.18);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(3.7px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 2em 2em;

    @media screen and (max-width: 1025px) {
      width: 90%;
      margin: 2em auto;
    }

    .pptt {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 15px;
      border-radius: 16px;
      transition: 0.3s ease;
      cursor: pointer;

      @media screen and (min-width: 1441px) {
        width: 400px;
      }

      img {
        width: 100%;
        border-radius: 15px;
        object-fit: contain;
      }
      p {
        color: #fff;
        line-height: 1.4;
        font-size: 16px;

        span {
          color: #f1c40fd6;
          font-weight: 500;
        }
      }
    }
  }
}
